<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Scloudin</title>
    <!--Font Link -->
    <link href='https://fonts.googleapis.com/css?family=MuseoModerno' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@800&display=swap" rel="stylesheet">

    <!--tailwind cdn link-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/src/DefaultOptions.min.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

  <div class="bg-[#fff] h-[6.8rem] w-full">
    
    <div class="navbar flex items-center justify-around py-10">
      <a class="company-name" href="#"><img src="../public/images/3 1.svg" alt="main" class=""></a>
      <div class="nav-links flex gap-6 uppercase ml-22 ">
          <a href="/admin/admin_dashboard">Home</a>
          <a href="/admin/add_job">Job Section</a>
          <a href="/admin/add_blog">Blog Section</a>
          <a href="/admin/admin_queries">Queries</a>
      </div>
  </div>
  
  </div>
  <!-- header section -->
  
<!-- header section -->
