<%-include('partials/header')%>
<style>
    .nunito{
        font-family: 'Nunito';
      }
     .weight{
        font-weight: 900;
     } 
</style>

<!--section 1-->
<div  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="mt-4">
    <img src="../public/images/About_Sec1_BG.svg" alt="section1">
</div>
<main class="lg:mx-16">
  <!--section 2-->
  <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-8 lg:mt-24 nunito"> 
    <p  data-aos="zoom-in" class="mt-8 text-[#0B1C98] font-extrabold text-4xl md:text-7xl lg:text-7xl text-center">About US</p>
    <p class="text-center mt-4 text-[#797979] text-md md:text-xl lg:text-2xl">We are professional in IT Solutions And Services </p>
 </div>
  <div  data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="mt-12 ">
    <img src="../public/images/About_Sec2_bg.svg" alt="section 2" class="mx-auto">
</div>

 <!--Section 3 -->
<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500" class="lg:flex flex-row mt-8 lg:mt-24 mx-8 md:mx-4 lg:mx-4 lg:mx-4">
<div data-aos-easing="linear" data-aos-duration="1500"
data-aos="fade-right" class="w-full lg:w-[25%] text-5xl font-extrabold md:text-center sm:text-center mx-4 text-[#242331] nunito weight">
    What we do
</div><!--left-->

 
<div class="w-full lg:w-[75%]">
   <p class="mr-4 mt-8 lg:mt-0  text-justify text-md lg:text-xl text-[#797979]">At ScloudIN , we specialize in IT products engineering , tailored solutions , and top-tier consulting services that empower your business to thrive in today’s rapidly evolving digital landscape . Our expertise spans a wide array of technologies and domains to meet their specific needs.
      <br><br>
      ScloudIN has a software product engineering as inbuild DNA , Hence we build and maintained modern applications with inituitive and connected user experiences . From Ideation to POC TO MVC to Product Development to Deployment & Maintenance. </p>
</div><!--Right-->
</div><!--Main-->

<!--section 4-->
<section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
 <!--Card 1--> 
<div  class="md:flex flex-row-reverse lg:mx-4 mt-12 lg:mt-48 nunito ">
<div data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8">
    <img src="../public/images/About_Sec4_Card1.svg" alt="">
</div>
<div  data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
    <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">IT Product Engineering</p>
    <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Unleash the Full Potential of your digital Vision with our cutting - edge IT product engineering services . We craft innovation and scalable solutions that drive your business forward. <br><br>
    Unleash the Full Potential of your digital Vision with our cutting - edge IT product engineering services . We craft innovation and scalable solutions that drive your business forward.</p>
</div>
</div>
<!--Card 2--> 
<div class="md:flex flex-row lg:mx-4 mt-12 lg:mt-48 nunito ">
    <div data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
        <img src="../public/images/About_Sec4_Card2.svg" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
        <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">Digital Portfolio</p>
        <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Our digital portfolio services encompass web , mobile , and cloud solution that are meticulously designed to enhance user experiences and boost operational efficiency. <br><br>
            Our digital portfolio services encompass web , mobile , and cloud solution that are meticulously designed to enhance user experiences and boost operational efficiency.</p>
    </div>
  </div>

  <!--Card 3--> 
  <div class="md:flex flex-row-reverse lg:mx-4 mt-12 lg:mt-48 nunito ">
    <div data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
        <img src="../public/images/About_Sec4_Card3.svg" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
        <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">DevOps Excellence</p>
        <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Streamline your development and operations with our DevOps expertise .Achieve faster release cycles and robust , reliable systems with our tailored DevOps solutions.<br><br>
            Streamline your development and operations with our DevOps expertise .Achieve faster release cycles and robust , reliable systems with our tailored DevOps solutions.</p>
    </div>
  </div>
   <!--Card 4--> 
<div class="md:flex flex-row lg:mx-4 mt-12 lg:mt-48 nunito ">
    <div data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
        <img src="../public/images/About_Sec4_Card4.svg" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
        <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">AI Ops Optimal</p>
        <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Leverage artificial intelligence for intelligent operations . Our AI Ops services ensure your systems are always at peak performance , minimizing downtime and maximizing efficiency. <br><br>Leverage artificial intelligence for intelligent operations . Our AI Ops services ensure your systems are always at peak performance , minimizing downtime and maximizing efficiency. </p>
    </div>
  </div>
      <!--Card 5--> 
<div class="md:flex flex-row-reverse lg:mx-4 mt-12 lg:mt-48 nunito ">
<div data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
    <img src="../public/images/About_Sec4_Card5.svg" alt="">
</div>
<div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
    <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">Digital Assurance </p>
    <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Quality is at the core of what we do . Our digital assurance and QA testing services guarantee that your products meet the highest standards, delivering superior user experiences. <br><br>Quality is at the core of what we do . Our digital assurance and QA testing services guarantee that your products meet the highest standards, delivering superior user experiences. </p>
</div>
</div>
  <!--Card 6--> 
<div class="md:flex flex-row lg:mx-4 mt-12 lg:mt-48 nunito ">
    <div data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
        <img src="../public/images/About_Sec4_Card6.svg" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
        <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">AI and Machine Learrning</p>
        <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Unlock the potential of data with our AI and machine learning solutions . Harness the power of predictive analytics and intelligent automation to gain a competitive edge. <br><br>Unlock the potential of data with our AI and machine learning solutions . Harness the power of predictive analytics and intelligent automation to gain a competitive edge. </p>
    </div>
  </div>
  <!--Card 7--> 
  <div class="md:flex flex-row-reverse lg:mx-4 mt-12 lg:mt-48 nunito ">
    <div data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
        <img src="../public/images/About_Sec4_Card7.svg" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
        <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">IOT Integration</p>
        <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Connect and manage your IOT devices seamlessly with our IOT integration services . Harness the data from your devices to make informed decisions and create new opportunities . <br><br>Connect and manage your IOT devices seamlessly with our IOT integration services . Harness the data from your devices to make informed decisions and create new opportunities . </p>
    </div>
  </div>
    <!--Card 8--> 
<div class="md:flex flex-row lg:mx-4 mt-12 lg:mt-48 nunito ">
    <div data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="lg:w-1/2 h-48 mx-8 ">
        <img src="../public/images/About_Sec4_Card8.svg" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="1500" class="lg:w-1/2 h-auto mx-8">
        <p class="text-[#0B1C98] text-3xl lg:text-5xl mt-4 md:mt-0 lg:mt-0 font-extrabold weight">Blockchain Solutions</p>
        <p class="mt-6 text-justify text-md lg:text-xl text-[#797979]">Embrace the security and transparency of blockchain technology . Our blockchain solutions help you implement distributed ledgers for enhanced data integrity. <br><br>Embrace the security and transparency of blockchain technology . Our blockchain solutions help you implement distributed ledgers for enhanced data integrity.</p>
    </div>
  </div>
</section>

<!--Section 5-->
  <div data-aos="fade-up"
  data-aos-easing="linear" data-aos-duration="1500" class="mx-8 mt-12 lg:mt-32 nunito">
    <div class="flex flex-row mx-auto justify-center">
      <p class="mt-8 text-[#0B1C98] font-extrabold text-3xl md:text-5xl lg:text-7xl lg:text-center">Our Mission &nbsp;</p>
      <div class="mt-6 lg:mt-12 ">
        <p class="rounded-full w-auto h-12 px-8 py-2 font-bold text-lg text-[#5236FF] bg-[#EFECFF]"> Our values</p>
      </div>
     </div>
    <p class="mt-6 text-justify text-md lg:text-2xl text-[#797979]">
        At ScloudIN, along with providing technology solutions; we partner with you to drive your digital transformation journey. Our seasoned experts will work closely with your team to understand your unique challenges and goals, ensuring our services are perfectly aligned with your vision. <br><br>
        We are Scloudin Software Solutions Pvt Ltd. The fastest growing SaaS based software development & solutions company. Our expertise are in Cloud solutions, Solution Engineering, Advisory and Product services provider Company. We have been noticed for pioneering high-quality products and ideas in the mobile space,
        <br><br>
        And we create long-term value for our clients by identifying both risk, and opportunities in the marketplace. In the process, we have developed deep expertise and a consultative-driven approach to providing end-to-end enterprise technology solutions. Guided by our strong content background and ability to create engaging UI/UX, we work with our clients to build robust, award-winning web, mobile and social media solutions. <br><br>
        We have leveraged our deep experience and entrepreneurial history to partner with innovative startups, together creating state-of-the-art digital products and bringing fresh ideas and investment to the mobile space. Several of our clients and partners have been named among the top "must-watch" digitally disruptive enterprises. <br><br>
        Our knowledge and work span a broad set of verticals such as publishing, healthcare, education, retail, government, and financial services. As a result, we can leverage cross-industry insights to create innovative solutions for an increasingly demanding digital audience. 

    </p>
  </div>
<!--section 6-->
  <div data-aos="fade-up"
  data-aos-easing="linear" data-aos-duration="1500" class="nunito mt-12"> 
    <p class="mt-8 text-[#0B1C98] text-4xl md:text-7xl lg:text-7xl text-center weight ">Our Values</p>
    <p class="mx-8 mt-4 text-[#889099] text-justify text-lg md:text-xl lg:text-2xl">We love what we do , and we are proud to work on challenging projects , providing  the  best of our resources and processes for every client , from start - ups to global organizations. </p>
 </div>

<!--Section 7-->
<section class="nunito">
    <div class="lg:flex flex-row mx-8 mt-8">
      
      <div data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
        <img src="../public/images/Home_Sec7_card1_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
        <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
          <p class=" text-lg lg:text-2xl font-bold">Respect for Our Clients</p>
          <p class="text-[#797979] lg:text-md text-sm mt-2">We seek long term relationships with our clients and hope to be the technology partner that helps them achieve their IT goals, now and in the future</p>
        </div>
      </div>

      <div data-aos="zoom-in-up"  data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
        <img src="../public/images/Home_Sec7_card2_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
        <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
          <p class="text-lg lg:text-2xl font-bold">Passion for Excellence</p>
          <p class="text-[#797979] lg:text-md text-sm mt-2">We love what we do, and we are proud to work on challenging projects, providing the best of our resources and processes for every client.</p>
        </div>
      </div>

    </div>

    <div class="lg:flex flex-row mx-8 mt-8">
      
      <div data-aos="zoom-in-down" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
        <img src="../public/images/Home_Sec7_card3_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
        <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
          <p class="text-lg lg:text-2xl font-bold ">We are a Team</p>
          <p class="text-[#797979] lg:text-md text-sm mt-2">Working with SCLOUDIN means that you are not working with just a sole individual contractor, you have a big team of developers , project managers etc</p>
        </div>
      </div>

      <div data-aos="zoom-in-down" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8  lg:mt-0 mt-8 flex items-center">
        <img src="../public/images/Home_Sec7_card4_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
        <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
          <p class="text-lg lg:text-2xl font-bold">Complete Visibility</p>
          <p class="text-[#797979] lg:text-md text-sm mt-2">Our rigorous process is another key to success at SCLOUDIN. It guarantees the quality of our services by providing a smooth experience with our clients. </p>
        </div>
      </div>

    </div>
</section>    

<!--Section 8-->  
<div class="mt-12 lg:mt-24 lg:flex flex-row-reverse justify-between mx-8 nunito">
<div data-aos="zoom-in-up" class="w-full lg:w-[70%] lg:mx-4">
  <img src="../public/images/About_Sec8_Card.svg" alt="" class="lg:float-right mx-auto lg:mr-8 ">
 </div>
 <div class="w-full lg:w-[30%] lg:ml-8 mt-8 lg:mt-0"> 
  <p class="text-[#0B1C98] text-5xl lg:text-6xl weight">Our Focus</p>
    <ul data-aos="fade-up" data-aos-duration="1500" class="list-disc text-[#797979] lg:ml-8 text-lg lg:text-xl  mt-8">
      <li>Excellence In IT Solutions </li> 
       <li> Economic Prosperity for All </li>
       <li> Full Potential of Technology </li>
       <li>Attain Business Success</li>
    </ul>
    
 </div>

</div>

<div class="text-lg lg:text-3xl text-[#797979] mt-12 mx-12 text-justify">We believe to bring meaningful change in business, communities with the help of new technologies. 
</div>

<!--Section 9-->
 <div class="lg:flex flex-row justify-between mx-8 lg:mx-16 mt-16 lg:mt-24 lg:mb-16 mb-8">
   <div>
     <p class="text-[#0B1C98] text-2xl lg:text-3xl font-bold">Graphic Design </p>
      <img src="../public/images/About_Sec9_GraphicBar.svg" alt="" class="mt-4">
      <p class="text-[#0B1C98] text-2xl lg:text-3xl font-bold mt-4 lg:mt-12">Web Design </p>
      <img src="../public/images/About_Sec9_DesignBar.svg" alt="" class="mt-4">
    </div>
    <div>
      <p class="text-[#0B1C98] text-2xl lg:text-3xl font-bold mt-4 lg:mt-0">Mobile Application </p>
       <img src="../public/images/About_Sec9_Mobile_Progress Bar.svg" alt="" class="mt-4">
       <p class="text-[#0B1C98] text-2xl lg:text-3xl font-bold mt-4 lg:mt-12">Web Development </p>
       <img src="../public/images/About_Sec9_WebBar.svg" alt="" class="mt-4">
     </div>
 </div>
</main>
<%-include('partials/footer')%>

<script>
  AOS.init();
  AOS.init({
      // Global settings:
      debounceDelay: 50, 
      once: false, 
      mirror: true, 

  });
</script>
