<%-include('partials/header')%>
<main>
    <!-- Banner section  -->
    <section data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up"
     class="banner w-full h-[20vh] md:h-[30vh] bg-cover bg-center"
        style="background-image: url(../public/images/contactusPage_1_Rectangle\ 28.png);">
    </section>
    <!-- contact us Section -->
    <section data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up"
     class="md:px-[5vw] px-7 font-Nunito">
        <p data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"
            class="mt-8 text-[#000000a6] text-[2rem] md:text-5xl md:text-7xl lg:text-6xl text-center font-extrabold nutino ">
            Get in
            touch
            today!</p>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in" class="lg:flex flex-row md:mx-4">
            <div
                class=" flex lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl  justify-center  items-center shadow-lg bg-white my-8 lg:mt-12">
                <img src="../public/images/Home_Sec20_Mail_Icon.svg" alt="" class="md:h-12 h-[3rem] mx-2">
                <div class="flex justify-between  items-center">
                    <p class="text-[#1B2534] text-[1.2rem] lg:text-xl font-bold mx-2 ">Mail Us</p>
                    <p class="text-[#797979]  text-sm md:text-lg md:ml-32 lg:ml-32">contactus@sclodin.in</p>
                </div>
            </div>

            <div
                class=" flex justify-center md:justify-between items-center lg:mt-12  lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white  ">
                <div class="flex justify-between items-center">
                    <img src="../public/images/Home_Sec20_Call_Icon.svg" alt="" class="md:h-12 h-[3rem] mx-2">
                    <p class="text-[#1B2534] text-[1.2rem] md:text-lg lg:text-xl font-bold mx-2 ">Call Us</p>
                </div>

                <p class="text-[#797979]text-sm md:text-lg">+91 9342979716</p>

            </div>
        </div>
        <!--Section 21-->
        
    </section>
    <%-include('partials/contactform')%>
    <!-- Map Section -->
    <section data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="md:min-h-screen md:my-[7rem]  ">
        <h2
            class="md:text-[4rem] text-[1.75rem] text-start leading-normal md:leading-[70px] w-[90%] mx-auto font-[800] text-[#0B1C98] font-Nunito md:my-[7rem]">
            Address
            for
            Below
            Countries :
        </h2>
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200" class="bg-center md:bg-cover bg-contain w-full h-[40vh] md:h-[90vh] bg-no-repeat relative"
            style="background-image: url(../public/images/contactusPage_2_Map.png);">
            <div
                class="bg-[#D9D9D9] absolute top-[24%] left-[33%] md:top-[11.5rem] md:left-[27rem] flex justify-center items-center   h-[5vmin] w-[5vmin]  rounded-full">
                <button class="w-[3.5vmin] h-[3.5vmin] rounded-full blur-[2px] bg-[#0B1C98]">
                </button>
            </div>
            <div
                class="bg-[#D9D9D9] flex justify-center absolute top-[30%] right-[10%] md:top-[6rem] md:right-[5rem] items-center    h-[5vmin] w-[5vmin] rounded-full">
                <button class="w-[3.5vmin] h-[3.5vmin] rounded-full blur-[2px] bg-[#F58A07]">
                </button>
            </div>
            <div
                class="bg-[#D9D9D9] flex justify-center absolute top-[40%] right-[38%] md:top-[23rem] md:right-[46rem] items-center  h-[5vmin] w-[5vmin]  rounded-full">
                <button class="w-[3.5vmin] h-[3.5vmin] rounded-full blur-[2px] bg-[#39CA21]">
                </button>
            </div>
            <div
                class="bg-[#D9D9D9] flex justify-center absolute bottom-[25%] left-[23%] md:bottom-[6rem] md:left-[30rem] items-center   h-[5vmin] w-[5vmin] rounded-full">
                <button class="w-[3.5vmin] h-[3.5vmin] rounded-full blur-[2px] bg-[#E78697]">
                </button>
            </div>
        </div>
        <div  class="w-[80%] mx-auto my-[1rem] md:my-[7rem] flex-col gap-[2rem] flex items-start">
            <div class="flex justify-center items-center gap-[3rem]">
                <div class="bg-[#D9D9D9] flex justify-center items-center   h-[2.7vmax] w-[2.7vmax]  rounded-full">
                    <button class="w-[2vmax] h-[2vmax] rounded-full blur-[2px] bg-[#0B1C98]">
                    </button>
                </div>
                <h2 class="text-[#242331] text-[1.25rem] text-justify md:text-[3rem] font-Nunito font-[600]">India -
                    Banglore , Pune , Hydrebad
                    , Indore
                </h2>
            </div>
            <div class="flex justify-center items-center gap-[3rem]">
                <div class="bg-[#D9D9D9] flex justify-center items-center   h-[2.7vmax] w-[2.7vmax]  rounded-full">
                    <button class="w-[2vmax] h-[2vmax] rounded-full blur-[2px] bg-[#F58A07]">
                    </button>
                </div>
                <h2 class="text-[#242331] text-[1.25rem] text-justify  md:text-[3rem] font-Nunito font-[600]">
                    USA
                </h2>
            </div>
            <div class="flex justify-center items-center gap-[3rem]">
                <div class="bg-[#D9D9D9] flex justify-center  items-center  h-[2.7vmax] w-[2.7vmax]  rounded-full">
                    <button class="w-[2vmax] h-[2vmax] rounded-full blur-[2px] bg-[#39CA21]">
                    </button>
                </div>
                <h2 class="text-[#242331]  text-[1.25rem] text-justify  md:text-[3rem] font-Nunito font-[600]">
                    UK
                </h2>
            </div>
            <div class="flex justify-center items-center gap-[3rem]">
                <div class="bg-[#D9D9D9] flex justify-center items-center   h-[2.7vmax] w-[2.7vmax]  rounded-full">
                    <button class="w-[2vmax] h-[2vmax] rounded-full blur-[2px] bg-[#E78697]">
                    </button>
                </div>
                <h2 class="text-[#242331]  text-[1.25rem] text-justify  md:text-[3rem] font-Nunito font-[600]">
                    Canada</h2>
            </div>
        </div>
    </section>
</main>
<%-include('partials/footer')%>

<script>
    AOS.init();
    AOS.init({
        // Global settings:
        debounceDelay: 50, 
        once: false, 
        mirror: true, 
  
    });
  </script>