<%- include('partials/header')%>
  <style>
    .hireUs_heading {
      font-family: "Nunito";
    }

    .paraText {
      color: #797979;
      text-align: justify;
    }

    .textAtEnd {
      text-align: end;
    }
  </style>

  <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
    <img src="../public/images/HIreUs_section1.svg" alt="main" class="w-full" />
  </div>
  <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="mt-16">
    <p class="hireUs_heading text-3xl md:text-5xl lg:text-7xl font-extrabold text-[#0B1C98] text-center">
      Hire Us
    </p>
    <div class="flex flex-col gap-8 px-8 lg:px-[6rem]">
      <p class="hireUs_heading paraText text-justify text-md lg:text-xl mt-8 leading-normal">
        We are ready to provide the skilled technology resources on contract
        for Software Professional & Testing services for global enterprises,
        delivering business value with the latest technology.
      </p>
      <p class="hireUs_heading paraText text-justify text-md lg:text-xl leading-normal">
        We have added IT professional services to our arsenal as we understood
        the importance of a better working world. We expanded our team and
        also partnered with some of the leading IT service providers.
      </p>
      <p class="hireUs_heading paraText text-justify text-md lg:text-xl leading-normal">
        Our commitment & quality helped us expand our clientele as we signed
        more number of deals spanning across multiple business domains such as
        IT consulting, cybersecurity, testing, IT staffing. We also expanded
        our industry vertical as we started working with multiple industries.
      </p>
    </div>

    <!-- section-2 -->

    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in" class="px-[99.5px]">
      <img src="../public/images/hireUs_section2.svg" alt="main" class="w-full" />
    </div>

    <!-- <section-3> -->
    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="px-8 lg:px-[6rem] mt-3">
      <h1 class="hireUs_heading text-3xl lg:text-5xl font-bold">
        How we do our Professional Services ?
      </h1>
      <p class="paraText text-justify text-md lg:text-xl mt-7">
        SCLOUDIN ’s IT Professional Solutions provide companies of various
        sizes with reliable IT staffing, RPO, Executive Search, C2H and
        professional technical talent acquisition services in a highly
        consistent, productive and cost-effective manner.
      </p>

      <!-- part1 -->
      <h1 data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in"
        class="text-[#0B1C98] text-2xl lg:text-5xl font-extrabold mt-14 ml-4 nutino">
        1. Executive Research
      </h1>
      <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in"
        class="paraText text-justify text-md lg:text-xl mt-4 lg:mt-10 leading-normal">
        Is where our expertise lies.Executive search can be incredibly
        lucrative. Odiware  is among the top executive search firms in India,
        specializing in recruiting highly qualified candidates at leadership
        roles across functions and levels for a number of Indian & global
        companies. Odiware aims at achieving the “right employee – role fit”
        by connecting companies with candidates who have relevant credentials
        and experience. We seek to understand each client’s strategic goals,
        specific leadership roles and competencies needed to meet those goals.
      </p>
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in-left">
        <img src="../public/images/hireUs_section3.svg" alt="main" class="w-full rounded-[4rem] my-[4.8rem]" />
      </div>
      <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"
        class="paraText text-justify text-md lg:text-xl">
        Our team comprises the top executive search consultants who are highly
        trained on the latest sourcing methods and apply the most relevant
        recruitment strategies to find the most suitable talent.
      </p>
      <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"
        class="paraText text-justify text-md lg:text-xl mt-6">
        We conduct executive search assignments for many C-level positions
        (CFO, CXO, CEO, COO, CTO, etc.) and offer customized solutions for
        various senior level profiles across industries. Executive search
        consultants seek to understand a specific executive position, define
        the core competencies necessary for a successful hire, and target
        several candidates that fit a distinct profile. Such positions include
        President, Vice President, CEO, CFO, COO, department heads, and more
        An executive search process timeline keeps your recruiting efforts on
        track and on schedule. It outlines the major milestones you need to
        hit when searching for someone to fill a senior leadership position.
        Crucially, it also outlines approximately how long each step should
        take.The length of an executive search process can take anywhere from
        6 to 12 weeks or longer Executive search is by far the most difficult
        hiring process out there. It sounds far-fetched but hiring executives
        can make or break your business. They can affect profits. They can af
      </p>
    </div>
    <div class="flex flex-col md:flex-row px-8 lg:px-[6rem] my-[4.8rem]">
      <div class=" md:w-[40%] font-medium">
        <h3 class="hireUs_heading text-[#0B1C98] text-2xl lg:text-5xl font-extrabold">
          SCLOUDIN Provide -
        </h3>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out"
          class="lg:mt-8 flex flex-col gap-5 leading-normal  px-8 lg:px-0">
          <ul class="list-disc lg:mx-8 mt-8 flex flex-col gap-5 leading-normal">
            <li class="paraText text-justify text-md lg:text-xl">High level networking</li>
            <li class="paraText text-justify text-md lg:text-xl">Global Reach</li>
            <li class="paraText text-justify text-md lg:text-xl">Service Consistency</li>
            <li class="paraText text-justify text-md lg:text-xl">Industry specialist</li>
            <li class="paraText text-justify text-md lg:text-xl">Market Expertise</li>
          </ul>
        </div>
      </div>
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right" class="col-span-2"
        class="md:w-[60%] w-full mt-2">
        <img src="../public/images/hireus_section1_part1.svg" alt="main"
          class="object-cover w-full rounded-large lg:pl-[3rem] lg:mt-2" />
      </div>
    </div>
    <!-- part1 -->

    <!-- part2 -->
    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="px-8 lg:px-[6rem]">
      <h1 data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"
        class="hireUs_heading text-2xl lg:text-5xl text-[#0B1C98] font-bold">
        2. Contract Stuffing
      </h1>
      <div class="md:grid grid-cols-3 my-[3rem]">
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left" class="col-span-1 font-medium">
          <img src="../public/images/hireus_section3_part2.svg" alt="main" class="w-full rounded-large" />
        </div>
        <div class="col-span-2 lg:pl-7">
          <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"
            class="paraText text-justify text-md lg:text-xl flex flex-col gap-3 leading-normal">
            <p class="mt-4 lg:mt-0">
              It requires minimum time and energy expenditure and provides
              possibly enormous returns. <br />
              It is an excellent way to fill in your existing staffing needs
              or even help you make adjustments as the company grows. If you
              have no idea about contract staffing, it’s time for you to learn
              more about this notion. The main purpose of expert recruitment
              is to find the best candidate that fits within your organization
              so as to ensure its continuous growth and profitability. It has
              become the most popular form of employment in today’s market due
              to its flexibility and lower cost compared to traditional hiring
              methods like direct employment and brokerage.
            </p>

            <p class="">
              Odiware provides contract staffing service that  aims at helping
              enterprises  by providing temporary staffing solutions, helping
              them to build a workspace .
            </p>
          </div>
        </div>
      </div>
    </div>

    <p class="paraText text-justify text-md lg:text-xl px-8 lg:px-[6rem] leading-normal">
      It can ensure that you have additional revenue to complete the year
      solid and consolidate your company under any potential financial
      circumstances. <br />
      It has become  a necessity in today’s marketplace. The employees are
      recruited for the short-term employment contracts, in contrast to, the
      permanent full-time workers.<br />
      Contract staffing can be a great way to get the extra help your company
      needs without the long-term commitment of hiring a full-time employee.
      <br />
      We are a leading platform for finding and screening the most talented
      people in the world. Our network of 250+ million forms a huge pool of
      candidates, allowing us to create an organization that is truly nimble.
      We focus on matching employers with candidates based on their skill,
      knowledge, performance and interest.
    </p>
    <p class="paraText text-justify text-md lg:text-xl px-8 lg:px-[6rem] leading-normal mt-5">
      If you’re looking for supplemental staff, or short-term help to cover a
      leave or gap in coverage, contact the professionals at odiware. We
      specialize in contract staffing for a wide range of industries and can
      help you find the perfect fit for your business.
    </p>

    <!-- getStarted section -->

    <div class="my-[4.8rem] px-8 lg:px-[6rem]">
      <p class=" text-3xl lg:text-7xl text-[#0B1C98] font-extrabold text-center nutino">
        Let's Get started
      </p>
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-right">
        <img src="../public/images/HireUs_LetsGetStarted.svg" alt="" class="mt-4 lg:mt-16">
      </div>
    </div>
    <!-- getStarted section -->

    <!-- part3 -->

    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="px-8 lg:px-[6rem]">
      <h1 data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"
        class="hireUs_heading text-3xl lg:text-5xl text-[#0B1C98] font-bold">3. RPO</h1>
      <div class="md:grid grid-cols-3 my-[3rem]">
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left" class="col-span-1 font-medium ">
          <img src="../public/images/hireUs_section3_part3.svg" alt="main" class=" rounded-large" />
        </div>
        <div class="col-span-2 lg:pl-7">
          <div class="paraText text-justify text-md lg:text-xl leading-normal">
            <p class="text-justify text-md lg:text-xl mt-4 lg:mt-0">
              Recruiting Process Outsourcing (RPO) is a new global sourcing
              option that delivers more efficient, cost-effective talent
              acquisition solutions. Odiware’s RPO solutions allow staffing
              organizations to acquire, hire, and onboard talent at an
              unprecedented rate of efficiency and cost savings. If you’re a
              business looking to grow, or when you want to fill one or two
              positions quickly, recruitment process outsourcing (RPO) can
              help. With RPO, you leverage an experienced partner’s expertise
              in recruiting candidates. If you’re a
              business looking to grow, or when you want to fill one or two
              positions quickly, recruitment process outsourcing (RPO) can
              help. With RPO, you leverage an experienced partner’s expertise
              in recruiting candidates.
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-10">
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
          <h1 class="text-[25px] font-bold">Advantages of RPO -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">Experience the leverage you never had before
          </p>
        </div>
        <div>
          <h1 class="text-[25px] font-bold">Better Quality talent -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">RPO saves your time and energy while providing you
            with the skills to
            source, screen, and onboard not just new but the finest talent. Even in notoriously difficult markets, find
            the best permanent hires.

          </p>
        </div>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
          <h1 class="text-[25px] font-bold">Cost-Effectiveness -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">RPO providers recognize that a long vacancy leads to
            lost production,
            wasted effort, and increased expenditures. Fill permanent positions faster and retain top talent at a lower
            cost than traditional recruitment approaches.

          </p>
        </div>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
          <h1 class="text-[25px] font-bold">Global Compliance -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">Keeping up with the ever-changing industry
            requirements can be difficult.
            Although it is not an enticing RPO benefit, it is crucial. An RPO business ensures that you do not burn your
            fingers when hiring candidates from diverse geographies for your organization’s needs.

          </p>
        </div>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
          <h1 class="text-[25px] font-bold">Reduced global aquisition cost -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">Finding the proper people is a time-consuming
            process. Even with a highly
            skilled talent acquisition team, it can be exceedingly time-consuming and costly. Businesses can save money
            by using an RPO solution to reduce their talent acquisition costs.

          </p>
        </div>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
          <h1 class="text-[25px] font-bold">Improved candidate engagement -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">Finding the appropriate candidate recruitment
            experience is not as simple
            as it may sound. It may divert HR’s attention away from its key goals. RPO firms provide in-house knowledge
            to improve a candidate’s interview and onboarding experience. This boosts your chances of attracting top
            people and a company’s potential to double its market share.

          </p>
        </div>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
          <h1 class="text-[25px] font-bold">More strategic insights -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">Data science is the cornerstone of all strategic
            decisions. Most firms
            are aware of the advantages it provides but lacks the technical competence required to extract actionable
            insights from data. An RPO provider examines a company’s historical performance as well as industry-wide
            data to forecast a company’s future talent requirements.

          </p>
        </div>
        <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="mb-16">
          <h1 class="text-[25px] font-bold">Expert employer branding -</h1>
          <p class="paraText text-justify text-md lg:text-xl mt-3">72% of CEOs worldwide feel that a strong employer
            brand is essential for
            attracting top talent. Despite the importance, most firms lack the in-house skills to develop an appealing
            employer value offer. RPO providers, through their team of EVP developers and brand strategists, assist
            firms in effectively communicating their value to the appropriate applicants.

          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- part3 -->
  </div>
  <%- include('partials/footer')%>

    <script>
      AOS.init();
      AOS.init({
        // Global settings:
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)


        once: false, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:

      });
    </script>