<%-include('partials/header')%>

<style>
  .nunito{
    font-family: 'Nunito';
  }
</style>
<!--Section 1-->   
 <section>
  <div class="slideshow-container">
    <% banner_data.forEach(function(banner,index) { %>
        <div class="mySlides fade">
          <img src="/public/bannerImages/<%=banner.banner_image_url%>"  class="mx-auto h-[80vh] w-[200vh]">
        </div>
      <% }); %>
    
    
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
    </div>
  </section> 

<!--Section 2 about us-->
 <div id="home_company"> 
  <p class="mt-8 text-[#0B1C98] font-extrabold text-4xl md:text-7xl lg:text-7xl text-center nunito">About Us</p>
    <p class="mx-8 lg:mx-16 mt-4 text-[#889099] text-lg md:text-xl lg:text-xl testfont_"> <b class="text-[#0B1C98]">Scloudin </b>is a network of connected , young passionate software engineers . Our firm is based in Banglore , India. </p>
 </div>
<!--Section 3 WHO WE ARE-->
<div class="lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full main">
<div data-aos="fade-down">
    <img src="../public/images/Home_Sec3_aboutUs.svg" alt="About us image"
  class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-full  lg:h-[40rem] lg:w-[40rem] lg:w-1/2"/>
  <img src="../public/images/home_About_Circle.svg" alt="" class="float-right -mt-16">
</div>
<div class=" p-2 px-8 lg:px-0 lg:w-1/2 lg:ml-12  lg:mt-24">
    <p class="text-[#9747FF] text-lg font-semibold" >About</p>
    <p class="text-[#0B1C98] text-3xl font-bold nutino">Who We Are? </p>

    <p class="text-[#37454D] text-xl pt-2"> We are a small young start up who builds everything around “ People & Technology ’’ We are agile software engineers , passionate for work life balance . We are skilled team of professionals in the field of software development . We use our passion for development to deliver the best software applications with the combination of technology know how ? and with great communication , we can create complete solutions for our clients. </p>
    
    <div class="md:flex flex-row justify-between mt-8 nutino">
        <div> <b class="text-[48px] text-[#242331]">100</b> <b class="text-[48px] text-[#0B1C98] px-2">M</b> 
            <p class="font-bold text-lg text-[#242331] -mt-2">Client Satisfaction</p>
        </div>
        <div class="lg:mx-24 lg:mt-0 md:mt-0 mt-8"><b class="text-[48px] text-[#242331]">98</b> <b class="text-[48px]  text-[#FFBD59] px-2">k+</b>
            <p class="font-bold text-lg text-[#242331] -mt-2">Sales Count</p>
        </div>
    </div>
    <div class="md:flex flex-row justify-between mt-8 nutino">
      <div> <b class="text-[48px] text-[#242331]">24</b> <b class="text-[48px]  text-[#FFBD59] px-2">h</b> 
          <p class="font-bold text-lg text-[#242331] -mt-2">Expert Support Team</p>
      </div>
      <div class="lg:ml-10 lg:mr-[5.1rem] lg:mt-0 md:mt-0 mt-8"><b class="text-[48px] text-[#242331]">208</b> <b class="text-[48px]  text-[#FFBD59] px-2">+</b>
          <p class="font-bold text-lg text-[#242331] -mt-2">Client Worldwide</p>
      </div>
  </div>
</div>
</div>   
<!--Section 4 Contact Us-->  
  <div class="bg-[#00000005] mt-8">
    <div class="lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full ">
      <div data-aos="fade-down bg-orange-600">
          <img src="../public/images/home_sec4_PC.svg" alt="Con image"
        class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-full  lg:h-[22rem] lg:w-[40rem] float-right"/>
      </div>
      <div class=" p-2  lg:px-0 lg:w-1/2 lg:mt-24 mx-12">
        <p class="text-3xl font-extrabold testfont1">We Are Professional IT & Solutions</p>
         <p class="text-lg pt-4"> With 6 + years of experience we have certified professional team of experts and exhaustive market research analysis
         </p>
         <div class="mt-8">
         <a href="/contact"> 
          <button class="border-black border-2  py-2 px-4 rounded-lg hover:bg-[#0B1C98] hover:text-white hover:border-white nutino">Contact Us</button>
         </a>
        </div>
      </div>
      </div>
    </div>
<!--Section 5-->  
<div class="mx-8 lg:mx-16 mt-12" id="what_we_do">
  <p class="text-[#9747FF] text-lg font-semibold">About</p>
  <p class="text-[#0B1C98] text-[45px] font-semibold nutino">What We Do? </p>

  <p class="text-[#37454D] text-xl "> We provide software solution for innovative idea and new trends in market . We help business to adopt new technologies for their growth . We always apply best practice in the software development process and the very latest technology . We warrant customer satisfaction to the best of our ability with reasonable cost and an excellent maintainance service provided by dedicated engineers. </p>
</div>

<!--Section 6-->  
<div id="our_values"> 
<p data-aos="zoom-in" class="mt-8 text-[#0B1C98] text-4xl md:text-7xl lg:text-7xl text-center font-extrabold nunito ">Our Values</p>
<p class="mx-8 lg:mx-16 mt-4 text-[#37454D] text-lg md:text-xl lg:text-xl">We love what we do , and we are proud to work on challenging projects , providing  the  best of our resources and processes for every client , from start - ups to global organizations. </p>
</div>

<!--Section 7-->
<section>
<div class="lg:flex flex-row mx-8 lg:mx-16 mt-8">
  
  <div data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card1_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class=" text-lg lg:text-2xl font-bold">Respect for Our Clients</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">We seek long term relationships with our clients and hope to be the technology partner that helps them achieve their IT goals, now and in the future</p>
    </div>
  </div>

  <div data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card2_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class="text-lg lg:text-2xl font-bold">Passion for Excellence</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">We love what we do, and we are proud to work on challenging projects, providing the best of our resources and processes for every client.</p>
    </div>
  </div>

</div>

<div class="lg:flex flex-row mx-8 lg:mx-16 mt-8">
  
  <div data-aos="zoom-in-down" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card3_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class="text-lg lg:text-2xl font-bold ">We are a Team</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">Working with SCLOUDIN means that you are not working with just a sole individual contractor, you have a big team of developers , project managers etc</p>
    </div>
  </div>

  <div data-aos="zoom-in-down" data-aos-easing="ease-in-sine" data-aos-duration="1500" class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8  lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card4_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class="text-lg lg:text-2xl font-bold">Complete Visibility</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">Our rigorous process is another key to success at SCLOUDIN. It guarantees the quality of our services by providing a smooth experience with our clients. </p>
    </div>
  </div>

</div>
</section>  
<!--Section 8-->
    
<div class="mt-8 lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full main" id="our_focus">
<div data-aos="fade-up-right">
    <img src="../public/images/Home_Sec8_ourFocus.svg" alt="About us image"
  class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-full  lg:h-[35rem] lg:w-[40rem] lg:w-1/2"/>
</div>
<div class=" p-2 px-8 lg:px-0 lg:w-1/2 lg:ml-12  lg:mt-24">
   
    <p class="text-[#0B1C98] text-6xl font-extrabold nunito ">Our Focus </p>

    <p class="text-[#37454D] text-xl text-justify mt-8"> Excellence in IT SOLUTIONS , Economic Prosperity for All , Full Potential of Technology , Attain Business Success </p>
    
    <div class="md:flex flex-row justify-between mt-8 poppins">
        <div> 
          <img src="../public/images/Home_Sec8_bulb.svg" alt="">
          <p class="text-2xl font-bold mt-6">Innovation</p>
          <p class="text-[#5B5B5B] text-lg mt-2">Empowering Tomorrow and Unleashing the Creative Solutions</p>
        </div>
        <div class="lg:mx-24 lg:mt-0 md:mt-0 mt-8">
          <img src="../public/images/Home_Sec8_head_idea.svg" alt="">
          <p class="text-2xl font-bold mt-4">New Ideas</p>
          <p class="text-[#5B5B5B] text-lg mt-2">Fueling Progress and  Nurturing Fresh Ideas</p>
        </div>
    </div>
  
</div>
</div>   
<!--Section 9-->
<div class="h-auto w-full bg-[#F8FAFC] mt-8">
<div class="flex justify-center pt-8 nutino">
  <p class="bg-cyan-700 text-white text-2xl rounded-md px-2">Why</p><p class="text-2xl font-bold px-2">Choose Us?</p>
</div>
<div class="text-[#2C2738] mx-8 lg:mx-16 text-justify">
  <p class="mt-8 text-xl">Scloudin was created by a team of experienced entrepreneurs who are deeply committed to technology and digital services scloudin now leverages this expertise by selectively partnering with more than half dozen start ups investing in their technology development , providing leadership and guidance , and growing these organizations with financial and in-kind support</p>

  <p class="mt-4 text-xl">Scloudin deploys its leadership and development teams to work with and invest in innovative mobile product startups having created premium apps spanning a variety of content , discliplines and digital formats , Scloudin enables companies to seamlessly add mobile to their technology stack, ensuring instant access to information - anytime , anywhere and on any device </p>
</div>

<div class="lg:flex flex-row justify-between mx-12 lg:mx-16 mt-12">
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/home_why_card1.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">01</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Speed and Simplicity</p>
      <p class="text-[#2C2738] poppins text-sm mt-4 text-justify">Efficiency meets elegance with our swift, simple solutions and we streamline the processes and experience unmatched speed .</p>
    </div>
  </div><!--1st card end-->
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/home_why_card2.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">02</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Get Approved</p>
      <p class="text-[#2C2738] poppins text-sm mt-4">Seamlessly secure your approvals with ease and efficiently navigate the approval process .</p>
    </div>
  </div><!--2 end-->
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/home_why_card3.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">03</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Safe and Secure</p>
      <p class="text-[#2C2738] text-justify poppins text-sm mt-4">Your Safety is our priority we keep it secure and experience peace of mind with our robust security measures</p>
    </div>
  </div><!--3rd end-->
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/home_why_card4.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">04</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Awesome Support</p>
      <p class="text-[#2C2738] poppins text-sm mt-4">We believe in providing awesome support always and exceptional support at your service.</p>
    </div>
  </div><!--4th end-->
</div>

<div class="flex justify-center mt-8 nutino">
  <p class="bg-cyan-700 text-white text-2xl rounded-md px-2">Why</p><p class="text-2xl font-bold px-2">Scloudin</p>
</div>
<div class="mt-8">
  <img src="../public/images/Home_Sec9_bottom.svg" alt="">
</div>
</div><!--bg end why choose us-->

<!--Section 10 -->  
<div class="mx-8 lg:mx-16 mt-12">
  <p class="text-[#9747FF] text-lg font-semibold">What do we do</p>
  <p class="text-[#0B1C98] text-5xl about mt-2 font-extrabold nunito ">Our Technology </p>

  <p class="text-[#37454D] text-xl mt-4"> We understand that each project  and each client is unique with their own specific requirements . Based on our knowledge nd experience , we select the most suitable technology for the software solution you are looking for. </p>
</div>

<!--Section 11 card started web dev-->
<div class=" lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full ">
<div data-aos="fade-up"
data-aos-easing="linear"
data-aos-duration="1500" 
class="mx-8 mt-8 lg:mt-0">
  <img src="../public/images/Home_Sec11_Circular_Card1.svg" alt=" image"
class="h-full w-[90%]  md:mx-0 md:h-96 md:w-full  lg:h-[30rem] lg:w-[30rem] pr-12"/>
</div>
<div data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500" class="mx-4 lg:mx-auto py-12 px-8 lg:px-8 lg:ml-24 h-56 w-full lg:w-[40%] rounded-lg shadow-lg bg-white my-8 lg:mt-36 hover:shadow-2xl hover:delay-150 hover:border-[#0B1C98] hover:border-2 hover:border-b-4 hover:ease-in duration-300  cursor-pointer">
   <div class="flex mx-2 ">
       <div class="h-12 w-12 rounded-lg bg-[#9CEDA4] flex items-center ">
        <img src="../public/images/Home_Sec11_Card1.svg" alt="" class="mx-auto">
      </div>
      <p class="text-[#9747FF] text-xl font-bold mx-4">Website <br> Development</p>
       
    </div>  
      
      <div class="text-[#210746] mx-4 mt-8">Java, Go-Lang, PHP, Node.js, Bootstrap, Angular, JS, HTML, CSS3, .NET, Web REST API, Perl, Python.</div>
</div>
</div>  
         <!--sec 11  card 2--> 
         <div class=" lg:flex flex-row justify-between  md:pl-5 h-auto w-full mt-0">
          <div data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500" class="mx-24  lg:mt-0">
            <img src="../public/images/Home_Sec11_Circular_Card2.svg" alt="About us image"
          class="h-full w-[90%]  md:mx-0 md:h-96 md:w-full  lg:h-[30rem] lg:w-[30rem]"/>
        </div>
          <div data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="1500" class="mx-4 lg:mx-auto pt-4 px-8 lg:px-8 l:ml-24 h-56 w-full lg:w-[40%] rounded-lg shadow-lg bg-white mt-12 lg:mt-36 hover:shadow-2xl hover:delay-150 hover:border-[#0B1C98] hover:border-2 hover:border-b-4 hover:ease-in duration-300  cursor-pointer">
               <div class="flex mx-2 mt-4">
                   <div class="h-12 w-12 rounded-lg bg-[#EDA69C] flex items-center">
                    <img src="../public/images/Home_Sec11_Card2.svg" alt="" class="mx-auto">
                  </div>
                  <p class="text-[#9747FF] text-xl font-bold mx-4">Mobile App <br> Development</p>
                </div>  
                  
                  <div class="text-[#210746] mx-4 mt-4 mt-8">Flutter, Dart, Android native application, Phone, Tablet, TV, iPhone, iPad, Hybrid App, IOS native application, Hybrid native application.</div>
          </div>
          
        </div>   
        <!--Section card 3-->
        <div class=" lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full">
          <div data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500" class="mx-8 mt-8 lg:mt-0">
              <img src="../public/images/Home_Sec11_Circular_Card3.svg" alt=" image"
            class="h-full w-[90%]  md:mx-0 md:h-96 md:w-full  lg:h-[30rem] lg:w-[30rem] pr-12"/>
          </div>
          <div data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="1500" class="mx-4 lg:mx-auto py-12 px-8 lg:px-8 lg:ml-24 h-56 w-full lg:w-[40%] rounded-lg shadow-lg bg-white my-8 lg:mt-36 hover:shadow-2xl hover:delay-150 hover:border-[#0B1C98] hover:border-2 hover:border-b-4 hover:ease-in duration-300  cursor-pointer">
               <div class="flex mx-2">
                   <div class="h-12 w-12 rounded-lg bg-[#9CEDA4] flex items-center ">
                    <img src="../public/images/Home_Sec11_Card3.svg" alt="" class="mx-auto">
                  </div>
                  <p class="text-[#9747FF] text-xl font-bold mx-4">ERP & CMS <br> Development</p>
                </div>  
                  
                  <div class="text-[#210746] mx-4 mt-8">Java, Go-Lang, PHP, Node.js, Bootstrap, Angular, JS, HTML, CSS3, .NET, Web REST API, Perl, Python.</div>
          </div>
        </div> 
     <!-- <div class="mx-auto flex justify-center">
       <button class="text-2xl bg-[#443D5E] text-white rounded-full px-4 py-2">View more</button>
     </div> -->

<!--Section 12-->  
  <div class="w-full h-56 mt-12 bg-[#EDEFF6] ">
     <div class="flex justify-center pt-16"> 
      <p class="text-2xl font-bold text-white bg-[#4A60A1] px-2 rounded-lg">Our</p>
      <p class="text-2xl font-bold text-[#2C2738] px-2">Products</p>
     </div>
     <p class="mx-4 lg:mx-16 text-[#889099] text-lg lg:text-xl  mt-4">Vestibulum ante rtyuhhhc lore, ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin sodales ultrices nulla blit volu tpat.</p>
  </div>

 <!------section have to added-->

  <!-- DesktopView for map section -->
  <div id="hideDesktopMap">
    <img src="../public/images/Home_map_image.svg" class=" md:absolute" alt="" />
    <div class="sm:flex sm:mx-[2rem] md:grid grid-cols-3 gap-12 lg:ml-[10rem] md:relative md:top-10 lg:top-[10rem]">
      <div class=""> <img src="../public/images/home_section12_imageOnMap _1.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _2.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _3.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _4.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _5.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _6.svg" class="" alt="" /> </div>
    </div>
  </div>

  <!-- MobileView for map section -->

  <div id="showMobileMap">
    <img src="../public/images/mapSection_mobileApp.svg" class="my-2 w-full absolute" alt="" />
    <div class="flex flex-col gap-14 relative items-center relative top-[3rem]">
      <div class=""> <img src="../public/images/home_section12_imageOnMap _1.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _2.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _3.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _4.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _5.svg" class="" alt="" /> </div>
      <div class=""> <img src="../public/images/home_section12_imageOnMap _6.svg" class="" alt="" /> </div>
    </div>
  </div>


<!--Section 13-->  
<div class="mx-12 lg:mx-16 mt-[6rem] lg:mt-[24rem]">
  <p class="text-[#242331] text-2xl font-semibold">Services</p>
  <p class="text-[#0B1C98] text-3xl lg:text-5xl about mt-2 font-bold nunito ">Solution areas </p>
  
  <p class="text-[#37454D] text-lg lg:text-xl mt-4"> We understand that each client is unique with their own specific requirements. Based on our knowledge and experience, we select the most suitable technology for the software solution you are looking for.</p>
 <a href="/services"><button class="text-2xl bg-[#4A60A1] text-white rounded-full px-8 py-2 mt-4 flex hover:px-12 hover:bg-[#0B1C98]">All Services <img src="../public/images/Home_Sec13_Btn_Arrow.svg" alt="arrow" class="pt-2 mx-2"></button></a> 
  
  
  <div id="serviceSolutionAreas_cards" class=" grid grid-cols-4 my-[2rem] ">
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_1.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_2.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_3.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_4.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_5.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_6.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_7.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_8.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_9.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_10.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_11.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_12.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_13.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_14.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_15.svg" class="" alt="" /></a></div>
  <div class=""><a href="/services"><img src="../public/images/home_allServicesCard_16.svg" class="" alt="" /></a></div>

  </div>
  
  
  <!-- crouselImported -->
  
  
       <div id="showCard16Crousel" class="carousel-container">
    <div class="carousel" id="carousel">
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_1.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_2.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_3.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_4.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_5.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_6.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_7.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_8.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_9.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_10.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_11.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_12.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_13.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_14.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_15.svg" class="" alt="" /></a></div>
      <div class="carousel-item"><a href="/services"><img src="../public/images/home_allServicesCard_16.svg" class="" alt="" /></a></div>
    
  
      <!-- Add more carousel items here -->
    </div>
    <button class="prev-button" onclick="changeSlide(-1)"><img src="../public/icons/left-arrow.svg" class=" h-7 w-7 " alt="" /></button>
    <button class="next-button" onclick="changeSlide(1)"><img src="../public/icons/right_arrow.svg" class=" h-7 w-7" alt="" /> </button>
      </div>
  
      <div class="flex flex-col gap-5 ">
    <p class="text-xl text-[#797979] leading-normal"> Looking for Customizable ScloudIN Product Catalogue solution for
      your business ? Contact us now ! Want to know SclodIN product catalogue features , receive more information
      about the solution , get a solution demo or customized pricing ? </p>
  
    <p class="text-xl text-[#797979] leading-normal"> Email us directly at : <span
        class="text-[#3662FF] font-semibold ">contactus@scloudin.in </span> </p>
  
    <p class="text-xl text-[#797979] leading-normal"> For sales enquiry please contact us at : <span
        class="text-[#3662FF] font-semibold"> contactus@scloudin.in </span></p>
      </div>
  </div>
  
    <!-- our sevices Section -->
  
    <div class="flex flex-col justify-center items-center my-[5rem] gap-10 ">
      <h1 class="lg:text-7xl text-4xl md:text-7xl font-extrabold about text-[#0B1C98] text-center nunito "> Our Services </h1>
      <p class="text-[#797979] lg:text-2xl text-lg mx-2"> SAAS Based Services and Application Design </p>
      
      <!-- servicesViewForDesktop -->
      <div id="serviceSolutionAreas_cards" class="grid grid-cols-3 gap-8 ">
        <div class=" rounded-[2.5rem]  flex justify-center items-center hover:bg-[#f5f5f5] hover:shadow-lg">
          <img src="../public/images/ourServices_image1.svg" class="" alt=""/>
        </div>
        <div class="flex justify-center rounded-[2.5rem] items-center  hover:shadow-lg">
          <img src="../public/images/ourServices_image2.svg" class="" alt=""/>
        </div>
        <div class="rounded-[2.5rem] flex justify-center items-center hover:bg-[#f5f5f5] hover:shadow-lg">
          <img src="../public/images/ourServices_image3.svg" class="" alt=""/>
        </div>
      </div>
  
  
      <!-- servicesForMobileView -->
  
      <div id="showCard16Crousel" class="carousel-container mx-8">
        <div class="associationSectionCarousel" id="associationSectionCarousel">
          <div class="carousel-item"> <img src="../public/images/ourServices_image1.svg" class="" alt="" /> </div>
          <div class="carousel-item"> <img src="../public/images/ourServices_image2.svg" class="" alt="" /> </div>
          <div class="carousel-item"> <img src="../public/images/ourServices_image3.svg" class="" alt="" /></div>
        </div>
        <button class="prev-button" onclick="changeSlide(-1)"><img src="../public/icons/left-arrow.svg" class=" h-7 w-7 " alt="" /></button>
        <button class="next-button" onclick="changeSlide(1)"><img src="../public/icons/right_arrow.svg" class=" h-7 w-7" alt="" /> </button>
      </div>
  
      <script>
  
        const sectionCarousel = document.getElementById("associationSectionCarousel");
        let sectionSlideIndex = 0;
  
        function changeSlide(n) {
          sectionSlideIndex += n;
          if (sectionSlideIndex < 0) {
            sectionSlideIndex = sectionCarousel.children.length - 1;
          } else if (sectionSlideIndex >= sectionCarousel.children.length) {
            sectionSlideIndex = 0;
          }
  
          const translateX = -sectionSlideIndex * 100 + "%";
          sectionCarousel.style.transform = `translateX(${translateX})`;
        }
  
        // Initial slide
        changeSlide(0);
  
      </script>
  
      <!-- servicesForMobileView -->
  
  
  
      <img src="../public/images/home_ourServices_button.svg" class="" alt="" />
  
    </div>
  
<!--Section 17-->
<div class="mx-12 lg:mx-16 mt-12">
  <p class="text-[#242331] text-2xl font-semibold">Our Association</p>
  <p class="text-[#0B1C98] text-3xl lg:text-5xl font-bold nunito  mt-2">Partners </p>
  
  <p class="text-[#37454D] text-lg lg:text-xl mt-4"> SCLOUDIN is a customer centric company focused on solving customer day to day problems and providing sustainable business solutions for their growth and suggest technology advantages. SCLOUDIN strongly believe that a strategic partnership is crucial to growth and success. We share similar values, common objectives, and shared goals with all our partners. SCLOUDIN partner ecosystem is driven by collaboration, knowledge sharing, and mutual growth opportunities with a common goal to ensure optimized customer satisfaction and business growth.</p>
  
  </div>
  

<!--Section  18-->
<!--desktop-->
  <section class="mx-8 lg:block md:block hidden">
    <div class="flex  mt-8 mb-12">
      <div class=" hover:shadow-2xl hover:shadow-blue-700 mx-4 px-4 bg-transparent rounded-full">
         <img src="../public/images/home_sec18_google_logo.svg" alt="" class="cursor-pointer">
      </div>
      <div class="hover:shadow-2xl hover:shadow-blue-700 mx-8 px-2 rounded-full">
        <img src="../public/images/home_sec18_MS_logo.svg" alt="" class="cursor-pointer">
     </div>
     <div class="hover:shadow-2xl hover:shadow-blue-700 mx-8 px-2 rounded-full">
      <img src="../public/images/home_sec18_IBM_logo.svg" alt="" class="cursor-pointer">
   </div>
   <div class="hover:shadow-2xl hover:shadow-blue-700 mx-8 px-2 rounded-full">
    <img src="../public/images/home_sec18_AWS_logo.svg" alt="" class="cursor-pointer">
   </div> 
  <div class="hover:shadow-2xl hover:shadow-blue-700 mx-8 px-2 rounded-full">
    <img src="../public/images/home_sec18_jio_logo.svg" alt="" class="cursor-pointer">
  </div>
  <div class="hover:shadow-2xl hover:shadow-blue-700 mx-8 px-2 rounded-full">
    <img src="../public/images/home_sec18_HP_logo.svg" alt="" class="cursor-pointer">
  </div>
    </div>
  </section>

  <!--mobile-->
  <section class="mx-8 lg:hidden md:hidden block" >
    <div class="md:flex flex-row mt-8 "  style="display: flex;">
      <div class=" hover:shadow-2xl hover:shadow-blue-700  mx-4 bg-transparent rounded-full">
         <img src="../public/images/home_sec18_google_logo.svg" alt="" class="h-8 cursor-pointer">
      </div>
      <div class="hover:shadow-2xl hover:shadow-blue-700  mx-2 rounded-full">
        <img src="../public/images/home_sec18_MS_logo.svg" alt="" class="h-8 cursor-pointer">
     </div>
     <div class="hover:shadow-2xl hover:shadow-blue-700  mx-2 rounded-full">
      <img src="../public/images/home_sec18_IBM_logo.svg" alt="" class="h-8 cursor-pointer">
   </div>
   <div class="hover:shadow-2xl hover:shadow-blue-700  mx-2 rounded-full">
    <img src="../public/images/home_sec18_AWS_logo.svg" alt="" class="h-8 cursor-pointer">
   </div> 
  <div class="hover:shadow-2xl hover:shadow-blue-700  mx-2 rounded-full">
    <img src="../public/images/home_sec18_jio_logo.svg" alt="" class="h-8 cursor-pointer">
  </div>
  <div class="hover:shadow-2xl hover:shadow-blue-700  mx-2 px-2 rounded-full">
    <img src="../public/images/home_sec18_HP_logo.svg" alt="" class="h-8 cursor-pointer">
  </div>
    </div>
  </section>

<!--Section 19-->
<div class="mx-12 lg:mx-16 mt-12">
<p class="text-[#0B1C98] text-3xl lg:text-5xl font-bold nunito  mt-2">Clients </p>
<p class="text-[#797979] text-xl lg:text-xl text-justify mt-4">Few but not all connection and projects we are working in current state and delivered the top notch quality outcomes.</p>
</div>

<!--Section  19-->

<section class="mx-8">
  <div class="flex mt-8 ">
    <div class=" hover:shadow-2xl hover:shadow-blue-700  mx-4 px-4 rounded-full">
       <img src="../public/images/home_sec19_HPPYY_logo.svg" alt="" class="cursor-pointer">
    </div>
    <div class="hover:shadow-2xl hover:shadow-blue-700  mx-8 px-2 rounded-full">
      <img src="../public/images/home_sec19_SANVOI_logo.svg" alt="" class="cursor-pointer">
   </div>
   <div class="hover:shadow-2xl hover:shadow-blue-700  mx-8 px-2 rounded-full">
    <img src="../public/images/home_sec19_orbital_logo.svg" alt="" class="cursor-pointer">
 </div>
 <div class="hover:shadow-2xl hover:shadow-blue-700  mx-8 px-2 rounded-full">
  <img src="../public/images/home_sec19_tie_logo.svg" alt="" class="cursor-pointer">
 </div> 

  </div>
</section>

<!--mobile-->
<section class="mx-8 lg:hidden md:hidden block">
  <div class="md:flex flex-row mt-8 "  style="display: flex;">
    <div class=" hover:shadow-2xl hover:shadow-blue-700 mx-4 px-4 bg-transparent rounded-full">
       <img src="../public/images/home_sec19_HPPYY_logo.svg" alt="" class="cursor-pointer">
    </div>
    <div class="hover:shadow-2xl hover:shadow-blue-700 mx-2 rounded-full">
      <img src="../public/images/home_sec19_SANVOI_logo.svg" alt="" class="cursor-pointer">
   </div>
   <div class="hover:shadow-2xl hover:shadow-blue-700 mx-2 rounded-full">
    <img src="../public/images/home_sec19_orbital_logo.svg" alt="" class="cursor-pointer">
 </div>
 <div class="hover:shadow-2xl hover:shadow-blue-700 mx-2 rounded-full">
  <img src="../public/images/home_sec19_tie_logo.svg" alt="" class="cursor-pointer">
 </div> 

  </div>
</section>

<!--Section 20-->
<div>
<p class="mt-8 text-[#000000a6] text-5xl md:text-7xl lg:text-6xl text-center font-extrabold nutino ">Get in touch today!</p>
</div>

<%-include('partials/contactform')%>
<%-include('partials/footer')%>

<script>
  AOS.init();

  // Home top banner-BG slider
  let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
 // Home top banner-BG slider end
</script>