<%-include('partials/header')%>

<!--Section 1-->   
<div class="section1">
    <img src="../public/images/Home_Sec1_MainBG.svg" alt="main" class="w-[100%]">
  
    <div class="centered">
        <p class="text-md md:text-4xl lg:text-6xl font-extrabold">WE CREATE THE WEB</p>
        <p class="mt-2 lg:mt-8 lg:text-xl md:text-lg">An awarded agency creating services for digital economy</p>
    </div>
  </div>

<!--Section 2-->
 <div> 
    <p class="mt-8 text-[#0B1C98] text-4xl md:text-7xl lg:text-7xl text-center about ">About US</p>
    <p class="mx-8 mt-4 text-[#889099] text-lg md:text-xl lg:text-2xl">Scloudin is a network of connected , young passionate software engineers . Our firm is based in Banglore , India </p>
 </div>
<!--Section 3-->
<div class="lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full main">
<div>
    <img src="../public/images/Home_Sec3_aboutUs.svg" alt="About us image"
  class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-full  lg:h-[40rem] lg:w-[40rem] lg:w-1/2"/>
</div>
<div class=" p-2 px-8 lg:px-0 lg:w-1/2 lg:ml-12  lg:mt-24">
    <p class="text-[#9747FF] text-lg font-semibold">About</p>
    <p class="text-[#0B1C98] text-3xl">Who We Are? </p>

    <p class="text-[#37454D] text-xl text-justify"> We are a small young start up who builds everything around “ People & Technology ’’ We are agile software engineers , passionate for work life balance . We are skilled team of professionals in the field of software development . We use our passion for development to deliver the best software applications with the combination of technology know how ? and with great communication , we can create complete solutions for our clients. </p>
    
    <div class="md:flex flex-row justify-between mt-8">
        <div> <b class="text-4xl">100</b> <b class="text-4xl  text-[#0B1C98]">M</b> 
            <p class="font-bold text-lg">Client Satisfaction</p>
        </div>
        <div class="lg:mx-24 lg:mt-0 md:mt-0 mt-8"><b class="text-4xl">98</b> <b class="text-4xl  text-[#FFBD59]">k+</b>
            <p class="font-bold text-lg">Sales Count</p>
        </div>
    </div>
    <div class="md:flex flex-row justify-between mt-8">
      <div> <b class="text-4xl">24</b> <b class="text-4xl  text-[#FFBD59]">h</b> 
          <p class="font-bold text-lg">Expert Support Team</p>
      </div>
      <div class="lg:mx-12 lg:mt-0 md:mt-0 mt-8"><b class="text-4xl">208</b> <b class="text-4xl  text-[#FFBD59]">+</b>
          <p class="font-bold text-lg">Client Worldwide</p>
      </div>
  </div>
</div>
</div>   
<!--Section 4-->  
<div class="mt-4">
   <img src="../public/images/Home_Sec3_img.svg" alt="">
</div>
<!--Section 5-->  
<div class="mx-8 mt-12">
  <p class="text-[#9747FF] text-lg font-semibold">About</p>
  <p class="text-[#0B1C98] text-3xl">What We Do? </p>

  <p class="text-[#37454D] text-xl text-justify"> We provide software solution for innovative idea and new trends in market . We help business to adopt new technologies for their growth . We always apply best practice in the software development process and the very latest technology . We warrant customer satisfaction to the best of our ability with reasonable cost and an excellent maintainance service provided by dedicated engineers. </p>
</div>

<!--Section 6-->  
<div> 
<p class="mt-8 text-[#0B1C98] text-4xl md:text-7xl lg:text-7xl text-center about ">Our Values</p>
<p class="mx-8 mt-4 text-[#889099] text-justify text-lg md:text-xl lg:text-2xl">We love what we do , and we are proud to work on challenging projects , providing  the  best of our resources and processes for every client , from start - ups to global organizations. </p>
</div>

<!--Section 7-->
<section>
<div class="lg:flex flex-row mx-8 mt-8">
  
  <div class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card1_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class=" text-lg lg:text-2xl font-bold">Respect for Our Clients</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">We seek long term relationships with our clients and hope to be the technology partner that helps them achieve their IT goals, now and in the future</p>
    </div>
  </div>

  <div class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card2_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class="text-lg lg:text-2xl font-bold">Passion for Excellence</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">We love what we do, and we are proud to work on challenging projects, providing the best of our resources and processes for every client.</p>
    </div>
  </div>

</div>

<div class="lg:flex flex-row mx-8 mt-8">
  
  <div class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8 lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card3_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class="text-lg lg:text-2xl font-bold ">We are a Team</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">Working with SCLOUDIN means that you are not working with just a sole individual contractor, you have a big team of developers , project managers etc</p>
    </div>
  </div>

  <div class="w-full lg:w-1/2 h-auto md:h-48 lg:h-48 bg-[#F9F9F9] rounded-xl mr-8  lg:mt-0 mt-8 flex items-center">
    <img src="../public/images/Home_Sec7_card4_icon.svg" alt="" class="lg:h-32 md:h-32 h-12 mx-4">
    <div class="mx-4 mb-4 md:mb-0 lg:mb-0 mt-4 md:mt-0 lg:mt-0">
      <p class="text-lg lg:text-2xl font-bold">Complete Visibility</p>
      <p class="text-[#797979] lg:text-md text-sm mt-2">Our rigorous process is another key to success at SCLOUDIN. It guarantees the quality of our services by providing a smooth experience with our clients. </p>
    </div>
  </div>

</div>
</section>  
<!--Section 8-->
    
<div class="mt-8 lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full main">
<div>
    <img src="../public/images/Home_Sec8_ourFocus.svg" alt="About us image"
  class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-full  lg:h-[35rem] lg:w-[40rem] lg:w-1/2"/>
</div>
<div class=" p-2 px-8 lg:px-0 lg:w-1/2 lg:ml-12  lg:mt-24">
   
    <p class="text-[#0B1C98] text-6xl about">Our Focus </p>

    <p class="text-[#37454D] text-xl text-justify mt-8"> Excellence in IT SOLUTIONS , Economic Prosperity for All , Full Potential of Technology , Attain Business Success </p>
    
    <div class="md:flex flex-row justify-between mt-8 poppins">
        <div> 
          <img src="../public/images/Home_Sec8_bulb.svg" alt="">
          <p class="text-2xl font-bold mt-6">Innovation</p>
          <p class="text-[#5B5B5B] text-lg mt-2">Empowering Tomorrow and Unleashing the Creative Solutions</p>
        </div>
        <div class="lg:mx-24 lg:mt-0 md:mt-0 mt-8">
          <img src="../public/images/Home_Sec8_head_idea.svg" alt="">
          <p class="text-2xl font-bold mt-4">New Ideas</p>
          <p class="text-[#5B5B5B] text-lg mt-2">Fueling Progress and  Nurturing Fresh Ideas</p>
        </div>
    </div>
  
</div>
</div>   
<!--Section 9-->
<div class="h-auto w-full bg-[#F8FAFC] mt-8">
<div class="flex justify-center pt-8 nutino">
  <p class="bg-cyan-700 text-white text-2xl rounded-md">Why</p><p class="text-2xl font-bold">Choose Us?</p>
</div>
<div class="text-[#2C2738] mx-8 text-justify">
  <p class="mt-8 text-lg">Scloudin was created by a team of experienced entrepreneurs who are deeply committed to technology and digital services scloudin now leverages this expertise by selectively partnering with more than half dozen start ups investing in their technology development , providing leadership and guidance , and growing these organizations with financial and in-kind support</p>

  <p class="mt-4 text-lg">Scloudin deploys its leadership and development teams to work with and invest in innovative mobile product startups having created premium apps spanning a variety of content , discliplines and digital formats , Scloudin enables companies to seamlessly add mobile to their technology stack, ensuring instant access to information - anytime , anywhere and on any device </p>
</div>

<div class="lg:flex flex-row justify-between mx-12 mt-12">
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/Group 1000002805.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">01</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Speed and Simplicity</p>
      <p class="text-[#2C2738] text-justify poppins text-sm mt-4">Efficiency meets elegance with our swift , simple solutions and we streamline the processes and experience unmatched speed .</p>
    </div>
  </div><!--1st card end-->
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/Group 1000002805.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">01</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Speed and Simplicity</p>
      <p class="text-[#2C2738] text-justify poppins text-sm mt-4">Efficiency meets elegance with our swift , simple solutions and we streamline the processes and experience unmatched speed .</p>
    </div>
  </div><!--2 end-->
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/Group 1000002805.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">01</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Speed and Simplicity</p>
      <p class="text-[#2C2738] text-justify poppins text-sm mt-4">Efficiency meets elegance with our swift , simple solutions and we streamline the processes and experience unmatched speed .</p>
    </div>
  </div><!--3rd end-->
  <div class="h-auto w-full lg:w-[20%]">
    <img src="../public/images/Group 1000002805.svg" alt="" class=" mx-auto">
    <div>
      <p class="text-center text-[#2C2738] font-extrabold text-xl mt-4">01</p>
      <p class="text-[#0B1C98] font-bold text-xl mt-2 text-center">Speed and Simplicity</p>
      <p class="text-[#2C2738] text-justify poppins text-sm mt-4">Efficiency meets elegance with our swift , simple solutions and we streamline the processes and experience unmatched speed .</p>
    </div>
  </div><!--4th end-->
</div>

<div class="flex justify-center mt-8 nutino">
  <p class="bg-cyan-700 text-white text-2xl rounded-md">Why</p><p class="text-2xl font-bold">Scloudin</p>
</div>
<div class="mt-8">
  <img src="../public/images/Home_Sec9_bottom.svg" alt="">
</div>
</div><!--bg end why choose us-->

<!--Section 10-->  
<div class="mx-8 mt-12">
  <p class="text-[#9747FF] text-lg font-semibold">What do we do</p>
  <p class="text-[#0B1C98] text-5xl about mt-2">Our Technology </p>

  <p class="text-[#37454D] text-xl text-justify mt-4"> We understand that each project  and each client is unique with their own specific requirements . Based on our knowledge nd experience , we select the most suitable technology for the software solution you are looking for. </p>
</div>

<!--Section 11-->
<div class=" lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full">
<div class="mx-8 mt-8 lg:mt-0">
  <img src="../public/images/Home_Sec11_Circular_Card1.svg" alt=" image"
class="h-full w-[90%]  md:mx-0 md:h-96 md:w-full  lg:h-[30rem] lg:w-[30rem]"/>
</div>
<div class="mx-auto pt-4 px-8 lg:px-8 lg:ml-24 h-48 w-full lg:w-[40%] rounded-lg shadow-lg bg-white my-12 lg:mt-48">
   <div class="flex mx-2">
       <div class="h-12 w-12 rounded-lg bg-[#9CEDA4] flex items-center ">
        <img src="../public/images/Home_Sec11_Card1.svg" alt="" class="mx-auto">
      </div>
      <p class="text-[#9747FF] text-xl font-bold mx-4">Website <br> Development</p>
    </div>  
      
      <div class="text-[#210746] mx-4 text-justify mt-4">Java , Go - Lang , PHP , Node.js , Bootstrap , Angular , JS , HTML , CSS3 , .NET , Web REST API , Perl, Python.</div>
</div>
</div>  
         <!--sec 11  card 2--> 
         <div class=" lg:flex flex-row justify-between  md:pl-5 h-auto w-full mt-0">
          <div class="mx-24  lg:mt-0">
            <img src="../public/images/Home_Sec11_Circular_Card2.svg" alt="About us image"
          class="h-full w-[90%]  md:mx-0 md:h-96 md:w-full  lg:h-[30rem] lg:w-[30rem]"/>
        </div>
          <div class="mx-auto pt-4 px-8 lg:px-8 lg:ml-24 h-48 w-full lg:w-[40%] rounded-lg shadow-lg bg-white mt-12 lg:mt-36">
               <div class="flex mx-2">
                   <div class="h-12 w-12 rounded-lg bg-[#EDA69C] flex items-center ">
                    <img src="../public/images/Home_Sec11_Card2.svg" alt="" class="mx-auto">
                  </div>
                  <p class="text-[#9747FF] text-xl font-bold mx-4">Mobile App <br> Development</p>
                </div>  
                  
                  <div class="text-[#210746] mx-4 text-justify mt-4">Flutter, Dart, Android native application , Phone, Tablet ,TV, iPhone, iPad. Hybrid App , IOS native application , Hybrid native application</div>
          </div>
          
        </div>   
        <!--Section card 3-->
        <div class=" lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full">
          <div class="mx-8 mt-8 lg:mt-0">
              <img src="../public/images/Home_Sec11_Circular_Card3.svg" alt=" image"
            class="h-full w-[90%]  md:mx-0 md:h-96 md:w-full  lg:h-[30rem] lg:w-[30rem]"/>
          </div>
          <div class="mx-auto pt-4 px-8 lg:px-8 lg:ml-24 h-48 w-full lg:w-[40%] rounded-lg shadow-lg bg-white my-12 lg:mt-48">
               <div class="flex mx-2">
                   <div class="h-12 w-12 rounded-lg bg-[#9CEDA4] flex items-center ">
                    <img src="../public/images/Home_Sec11_Card3.svg" alt="" class="mx-auto">
                  </div>
                  <p class="text-[#9747FF] text-xl font-bold mx-4">ERP & CMS <br> Development</p>
                </div>  
                  
                  <div class="text-[#210746] mx-4 text-justify mt-4">Java , Go - Lang , PHP , Node.js , Bootstrap , Angular , JS , HTML , CSS3 , .NET , Web REST API , Perl, Python.</div>
          </div>
        </div> 
     <div class="mx-auto flex justify-center">
       <button class="text-2xl bg-[#443D5E] text-white rounded-full px-4 py-2">View more</button>
     </div>

<!--Section 12-->  
  <div class="w-full h-56 mt-12 bg-[#EDEFF6] ">
     <div class="flex justify-center pt-16"> 
      <p class="text-2xl font-bold text-white bg-[#4A60A1] px-2 rounded-lg">Our</p>
      <p class="text-2xl font-bold text-[#2C2738]">Products</p>
     </div>
     <p class="mx-4 text-[#889099] text-lg lg:text-xl flex justify-center mt-4">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin sodales ultrices nulla blandit volutpat.</p>
  </div>
<!--Section 13-->  
<div class="mx-12 mt-12">
<p class="text-[#242331] text-2xl font-semibold">Services</p>
<p class="text-[#0B1C98] text-3xl lg:text-5xl about mt-2">Solution areas </p>

<p class="text-[#37454D] text-lg lg:text-xl text-justify mt-4"> We understand that each client is unique with their own specific requirements . Based on our knowledge and experience , we select the most suitable technology for the software solution you are looking for.</p>
<button class="text-2xl bg-[#4A60A1] text-white rounded-full px-8 py-2 mt-4 flex">All Services <img src="../public/images/Home_Sec13_Btn_Arrow.svg" alt="arrow" class="pt-2 mx-2"></button>
</div>

<!--Section 17-->
<div class="mx-12 mt-12">
<p class="text-[#242331] text-2xl font-semibold">Our Association</p>
<p class="text-[#0B1C98] text-3xl lg:text-5xl about mt-2">Partners </p>

<p class="text-[#37454D] text-lg lg:text-xl text-justify mt-4"> SCLOUDIN is a customer centric company focused on solving customer day to day problems and providing sustainable business solutions for their growth and suggest technology advantages. SCLOUDIN strongly believe that a strategic partnership is crucial to growth and success. We share similar values, common objectives, and shared goals with all our partners. SCLOUDIN partner ecosystem is driven by collaboration, knowledge sharing, and mutual growth opportunities with a common goal to ensure optimized customer satisfaction and business growth</p>

</div>

<!--Section  18-->

<div class=" w-[100%] h-auto  overflow-x-hidden ">
<section class="flex overflow-x-hidden items-center border p-10 my-[86.97px] sm:py-5 lg:px-24">

<div>
  <logo-slider>

    <div>
      <div class="slide flex items-center">
        <img src="../public/images//Home_Sec18_Google.svg" class="h-16" alt="" />
      </div>
          
          <div class="slide flex items-center">
            <img src="../public/images/Home_Sec18_Microsoft.svg" class="h-16" alt="" />
          </div>
          <div class="slide flex items-center">
            <img src="../public/images/Home_Sec18_IBM.svg" class="h-16" alt="" />
          </div>
          <div class="slide flex items-center">
            <img src="../public/images/Home_Sec18_HP.svg" class="h-16" alt="" />
          </div>
          <div class="slide flex items-center">
            <img src="../public/images/Home_Sec18_AWS.svg"class="h-16" alt="" />
          </div>
          <div class="slide flex items-center">
            <img src="../public/images/Home_Sec18_ME.svg" class="h-16" alt="" />
          </div>
          <div class="slide flex items-center">
            <img src="../public/images/Home_Sec18_v.svg" class="h-16" alt="" />
          </div>
          <div class="slide flex items-center">
            <img src="../public/images//Home_Sec18_Google.svg" class="h-16" alt="" />
          </div>
              
              <div class="slide flex items-center">
                <img src="../public/images/Home_Sec18_Microsoft.svg" class="h-16" alt="" />
              </div>
              <div class="slide flex items-center">
                <img src="../public/images/Home_Sec18_IBM.svg" class="h-16" alt="" />
              </div>
              <div class="slide flex items-center">
                <img src="../public/images/Home_Sec18_HP.svg" class="h-16" alt="" />
              </div>
              <div class="slide flex items-center">
                <img src="../public/images/Home_Sec18_AWS.svg"class="h-16" alt="" />
              </div>
              <div class="slide flex items-center">
                <img src="../public/images/Home_Sec18_ME.svg" class="h-16" alt="" />
              </div>
              <div class="slide flex items-center">
                <img src="../public/images/Home_Sec18_v.svg" class="h-16" alt="" />
              </div>
            
     </div>
  
  </logo-slider>
</div>
</section>
</div>

<!--Section 19-->
<div class="mx-12 mt-12">
<p class="text-[#0B1C98] text-3xl lg:text-5xl about mt-2">Clients </p>
<p class="text-[#797979] text-xl lg:text-xl text-justify mt-4">Few but not all connection and projects we are working in current state and delivered the top notch quality outcomes.</p>
</div>

<!--Section  19-->

<div class=" w-[100%] h-auto  overflow-x-hidden ">
<section class="flex overflow-x-hidden items-center border p-10 my-[86.97px] sm:py-5 lg:px-24">
 
 <div>
   <logo-slider>
 
     <div>
      
       <div class="slide flex items-center">
          <img src="../public/images/Home_Sec19_Sanovi.svg" class="h-16" alt="" />
        </div>
           <div class="slide flex items-center">
             <img src="../public/images/Home_Sec19_Happiness.svg" class="h-16" alt="" />
           </div>
           <div class="slide flex items-center">
             <img src="../public/images/Home_Sec19_Tie.svg" class="h-16" alt="" />
           </div>
           <div class="slide flex items-center">
             <img src="../public/images/Home_Sec19_Orbital.svg" class="h-16" alt="" />
           </div>
           <div class="slide flex items-center">
             <img src="../public/images/Home_Sec19_Jio.svg"class="h-16" alt="" />
           </div>
           <div class="slide flex items-center">
            <img src="../public/images/Home_Sec19_Sanovi.svg" class="h-16" alt="" />
          </div>
             <div class="slide flex items-center">
               <img src="../public/images/Home_Sec19_Happiness.svg" class="h-16" alt="" />
             </div>
             <div class="slide flex items-center">
               <img src="../public/images/Home_Sec19_Tie.svg" class="h-16" alt="" />
             </div>
             <div class="slide flex items-center">
               <img src="../public/images/Home_Sec19_Orbital.svg" class="h-16" alt="" />
             </div>
             <div class="slide flex items-center">
               <img src="../public/images/Home_Sec19_Jio.svg"class="h-16" alt="" />
             </div>
               
             <div class="slide flex items-center">
              <img src="../public/images/Home_Sec19_Sanovi.svg" class="h-16" alt="" />
            </div>
               <div class="slide flex items-center">
                 <img src="../public/images/Home_Sec19_Happiness.svg" class="h-16" alt="" />
               </div>
               <div class="slide flex items-center">
                 <img src="../public/images/Home_Sec19_Tie.svg" class="h-16" alt="" />
               </div>
               <div class="slide flex items-center">
                 <img src="../public/images/Home_Sec19_Orbital.svg" class="h-16" alt="" />
               </div>
               <div class="slide flex items-center">
                 <img src="../public/images/Home_Sec19_Jio.svg"class="h-16" alt="" />
               </div>
             
             
      </div>
   
   </logo-slider>
 </div>
</section>
</div>


<!--Section 20-->
<div>
<p class="mt-8 text-[#242331] text-5xl md:text-7xl lg:text-7xl text-center font-extrabold nunito ">Get in touch today!</p>
</div>
<section class="lg:flex flex-row mx-4">
<div class=" flex pt-6  lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white my-8 lg:mt-12">
     <img src="../public/images/Home_Sec20_Mail_Icon.svg" alt="" class="h-12 mx-2">
      <div class="flex justify-between mt-2">
        <p class="text-[#1B2534] text-lg lg:text-xl font-bold mx-2 ">Mail Us</p>
        <p class="text-[#797979] text-lg md:ml-32 lg:ml-32">contactus@sclodin.in</p>
      </div>
</div>

<div class=" flex pt-6 lg:mt-12 lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white my-8 ">
<img src="../public/images/Home_Sec20_Call_Icon.svg" alt="" class="h-12 mx-2">
 <div class="flex justify-between mt-2">
   <p class="text-[#1B2534] text-lg lg:text-xl font-bold mx-2 ">Call Us</p>
   <p class="text-[#797979] text-lg md:ml-32 lg:ml-44">+91 9342979716</p>
 </div>
</div>
</section>  
<%-include('partials/contactform')%>
<%-include('partials/footer')%>