<%-include('partials/header')%>
<style>
    .nunito{
        font-family: 'Nunito';
      }
     .weight{
        font-weight: 900;
     }
   
</style>
      <!--section 1-->
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="">
        <img src="../public/images/Products_Sec1_BG.svg" alt="section1" class="w-full">
    </div>
  <main>
      <!--section 2-->
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="mt-12 lg:mt-24 nunito"> 
        <p class="mt-8 text-[#0B1C98] font-extrabold text-4xl md:text-7xl lg:text-7xl text-center">Products & Portfolio</p>
     </div>
     
<!-----Products   and    accordionnnn -->   
    
  
       <div class="">
         <div class="accordion">

          <div class="bg-slate-300 w-full">
            <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-4 lg:mt-12 mx-12 ">
              <img src="../public/images/Products_Sec2_BG.svg" alt="section 2" class="p-12 ">
            </div>
           </div>

           <div class="accordion__header  flex justify-center mt-8">
            <button class="py-4 px-8 bg-[#443D5E] text-white text-2xl font-semibold rounded-full ">View More</button>
           </div>
           <div class="accordion__body  text-[#2E2E2E] mx-4">
            <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mx-8 nunito">
              <p class="mt-12 text-[#797979] text-md md:text-xl lg:text-xl">inCSMS, A cloud platform for service management platform </p>
            
              <ul data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979] lg:ml-8 text-lg lg:text-xl mx-4  mt-8">
                  <li>  Custom workflow management SaaS </li> 
                   <li>   Integration with internal systems </li>
                   <li> Microservices-based architecture design </li>
                   <li>Usability audit and UX improvements</li>
                </ul>
            
                
              <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up"  data-aos-anchor-placement="center-bottom"  class="mt-8 lg:mt-12 mx-2 lg:mx-2 text-[#242331] text-2xl lg:text-4xl font-extrabold">Summary: </p>
              <p data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in-out"  class="mt-4 lg:mt-8 text-[#797979] text-justify text-md md:text-xl lg:text-xl">The service management mobile app platform is a mobile app that runs on both Android/iOS phones and tablets/iPad. This is basically designed to raise the service call, complaints, feedback, reviews for any product listed with company so that the effective business and total customer satisfaction is met, and the long-lasting relation can be setup with clients. Effective online resolution tracking and effective resolution of complaint can be tracked using this application.
              </p>
            </div>
            <!--Section 3-->
    <div class="nunito lg:mx-8 mx-4">
      <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="mt-8 lg:mt-12 mx-2 lg:mx-2 text-[#242331] text-xl lg:text-2xl font-extrabold">Solutions </p>  
      <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4  mx-2 lg:mx-2 text-[#0B1C98] text-xl lg:text-2xl font-extrabold">Architecture Re - Design </p>  
      <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right"  class="mt-4 lg:mt-8 mx-2 lg:mx-2 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold">1. Monolithic </p>  
  </div>
   
  <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-right"  class="mt-4 lg:mx-8 mx-4">
      <img src="../public/images/Products_Sec3_Monolithic.svg" alt="" class="mx-auto">
  </div>

             <!--Section 4-->   
     <div class="nunito">
      <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right"  class="mt-4 lg:mt-12 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">4. Micro Services 
        <img src="../public/images/Products_Sec4_Micro.svg" alt="" class="mx-auto mt-4"  data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-left" >
    </div> 
   
       <p  data-aos-easing="linear" data-aos-duration="2500" data-aos="fade-up"   class="mt-4 mx-8 lg:mt-16 text-[#797979] text-justify text-md md:text-xl lg:text-xl">SCLOUDIN was fully responsible for developing and supporting the solution. For 10+ years of collaboration, our team grew from 2 to 35 specialists. We had four teams working alongside, with each of them responsible for a specific part, such as the admin panel, the marketing campaigns functionality, the frontend, and DevOps.  <br>
        Initially, we practiced Scrum with 3-week sprints but soon moved to Kanban to accommodate dynamic changes posed by the customer’s business. We released new features several times a week and could make flexible plans, reprioritizing tasks as needed. Despite returning to Scrum when developing the microservices-based system, we kept the by-feature release schedule. <br>
        Our team implemented automated tests, including unit, server and end-to-end tests. Automated testing allowed us to reduce test execution time from two days to a few hours. To streamline release cycles, we also involved our DevOps engineers, who set up a CI/CD pipeline using Bamboo and Bitbucket. To ensure high software quality and team cohesion, we also practiced code review.
    </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="mt-8 lg:mt-12 mx-4 lg:mx-8 text-[#242331] text-xl lg:text-2xl font-extrabold">Results </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-xl">During more than 10 years of collaboration, we became a trusted technology advisor and development partner to the network of 30+ media publishers. Our team was fully responsible for developing the content distribution and marketing workflow management solution, delivering new features, migrating to the SaaS model and microservices-based architecture, and incorporating Agile development practices.
       <br><br>
        During our cooperation, we achieved the following results:

        <ul  data-aos-easing="linear" data-aos-duration="2500" data-aos="fade-up"  class="list-disc text-[#797979]  text-lg lg:text-xl lg:mx-16 mx-8  mt-8">

       <li> We helped increase the number of affiliated media publishers using the solution from one to more than 30.
       </li>
       <li> We implemented real-time remote monitoring and management software and enabled the customer to get data updates hourly instead of weekly.  </li>
       <li> We improved the application scalability by moving from a monolithic architecture to a microservices-based one.  </li>
      <li>  We automated software testing and deployment by setting up a CI/CD pipeline and running automated tests.
      </li>
        </ul>
    </p> 
    </div>
<!--Section 5-->

           </div>
              
     <div class="bg-slate-300 mt-12">
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-4 lg:mt-12 mx-12 ">
        <img src="../public/images/Products_Sec2_BG.svg" alt="section 2" class="p-12 ">
      </div>
     </div>
    
           <div class="accordion__header   mx-4 flex justify-center mt-8">
            <button class="py-4 px-8 bg-[#443D5E] text-white text-2xl font-semibold rounded-full ">View More</button>
           </div>
           <div class="accordion__body  text-[#2E2E2E] mx-4">
            <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mx-8 nunito">
              <p class="mt-12 text-[#797979] text-md md:text-xl lg:text-xl">inCSMS, A cloud platform for service management platform </p>
            
              <ul data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979] lg:ml-8 text-lg lg:text-xl mx-4  mt-8">
                  <li>  Custom workflow management SaaS </li> 
                   <li>   Integration with internal systems </li>
                   <li> Microservices-based architecture design </li>
                   <li>Usability audit and UX improvements</li>
                </ul>
            
                
              <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up"  data-aos-anchor-placement="center-bottom"  class="mt-8 lg:mt-12 mx-2 lg:mx-2 text-[#242331] text-2xl lg:text-4xl font-extrabold">Summary: </p>
              <p data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in-out"  class="mt-4 lg:mt-8 text-[#797979] text-justify text-md md:text-xl lg:text-xl">The service management mobile app platform is a mobile app that runs on both Android/iOS phones and tablets/iPad. This is basically designed to raise the service call, complaints, feedback, reviews for any product listed with company so that the effective business and total customer satisfaction is met, and the long-lasting relation can be setup with clients. Effective online resolution tracking and effective resolution of complaint can be tracked using this application.
              </p>
            </div>
             <!--Section 4-->   
     <div class="nunito">
      <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right"  class="mt-4 lg:mt-12 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">4. Micro Services 
        <img src="../public/images/Products_Sec4_Micro.svg" alt="" class="mx-auto mt-4"  data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-left" >
    </div> 
   
       <p  data-aos-easing="linear" data-aos-duration="2500" data-aos="fade-up"   class="mt-4 mx-8 lg:mt-16 text-[#797979] text-justify text-md md:text-xl lg:text-xl">SCLOUDIN was fully responsible for developing and supporting the solution. For 10+ years of collaboration, our team grew from 2 to 35 specialists. We had four teams working alongside, with each of them responsible for a specific part, such as the admin panel, the marketing campaigns functionality, the frontend, and DevOps.  <br><br>
        Initially, we practiced Scrum with 3-week sprints but soon moved to Kanban to accommodate dynamic changes posed by the customer’s business. We released new features several times a week and could make flexible plans, reprioritizing tasks as needed. Despite returning to Scrum when developing the microservices-based system, we kept the by-feature release schedule. <br><br>
        Our team implemented automated tests, including unit, server and end-to-end tests. Automated testing allowed us to reduce test execution time from two days to a few hours. To streamline release cycles, we also involved our DevOps engineers, who set up a CI/CD pipeline using Bamboo and Bitbucket. To ensure high software quality and team cohesion, we also practiced code review.
    </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="mt-8 lg:mt-12 mx-4 lg:mx-8 text-[#242331] text-xl lg:text-2xl font-extrabold">Results </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-xl">During more than 10 years of collaboration, we became a trusted technology advisor and development partner to the network of 30+ media publishers. Our team was fully responsible for developing the content distribution and marketing workflow management solution, delivering new features, migrating to the SaaS model and microservices-based architecture, and incorporating Agile development practices.
       <br><br>
        During our cooperation, we achieved the following results:

        <ul  data-aos-easing="linear" data-aos-duration="2500" data-aos="fade-up"  class="list-disc text-[#797979]  text-lg lg:text-xl lg:mx-16 mx-8  mt-8">

       <li> We helped increase the number of affiliated media publishers using the solution from one to more than 30.
       </li>
       <li> We implemented real-time remote monitoring and management software and enabled the customer to get data updates hourly instead of weekly.  </li>
       <li> We improved the application scalability by moving from a monolithic architecture to a microservices-based one.  </li>
      <li>  We automated software testing and deployment by setting up a CI/CD pipeline and running automated tests.
      </li>
        </ul>
    </p> 
    </div>
<!--Section 5-->

           </div>
          
       </div> 
         </div>  <!--accodion div close-->

</main>
 <div>
  <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="mt-8 text-[#242331] text-5xl lg:text-7xl text-center font-extrabold nunito ">Want to Start a Project ?</p>
</div>



<%-include('partials/contactform')%>
<%-include('partials/footer')%>

<script>
  AOS.init();
  AOS.init({
      // Global settings:
      debounceDelay: 50, 
      once: false, 
      mirror: true, 

  });

  //Accordion header
  $('.accordion__header').click(function(e) {
    e.preventDefault();
    var currentIsActive = $(this).hasClass('is-active');
    $(this).parent('.accordion').find('> *').removeClass('is-active');
    if(currentIsActive != 1) {
      $(this).addClass('is-active');
      $(this).next('.accordion__body').addClass('is-active');
    }
  });
</script>