<%-include('partials/header')%>
<style>
    .nunito{
        font-family: 'Nunito';
      }
     .weight{
        font-weight: 900;
     }
   
</style>
      <!--section 1-->
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="mt-4">
        <img src="../public/images/Products_Sec1_BG.svg" alt="section1" class="w-full">
    </div>
  <main class="lg:mx-8">
      <!--section 2-->
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down" class="mt-12 lg:mt-24 typewriter nunito"> 
        <p class="mt-8 text-[#0B1C98] font-extrabold text-4xl md:text-7xl lg:text-7xl text-center">Products & Portfolio</p>
        <p data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in" class="mt-8 lg:mt-12 mx-8 text-[#242331] text-2xl lg:text-4xl font-extrabold animate-pulse">Product No 1 - </p>
     </div>
      <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-4 lg:mt-12 mx-4 ">
        <img src="../public/images/Products_Sec2_BG.svg" alt="section 2" class="mx-auto ">
    </div>
    
     <div data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mx-8 nunito">
        <p class="mt-12 text-[#797979] text-md md:text-xl lg:text-2xl">inCSMS, A cloud platform for service management platform </p>

        <ul data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979] lg:ml-8 text-lg lg:text-2xl mx-4  mt-8">
            <li>  Custom workflow management SaaS </li> 
             <li>   Integration with internal systems </li>
             <li> Microservices-based architecture design </li>
             <li>Usability audit and UX improvements</li>
          </ul>

          
        <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up"  data-aos-anchor-placement="center-bottom"  class="mt-8 lg:mt-12 mx-2 lg:mx-2 text-[#242331] text-2xl lg:text-4xl font-extrabold">Summary: </p>
        <p data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in-out"  class="mt-4 lg:mt-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">The service management mobile app platform is a mobile app that runs on both Android/iOS phones and tablets/iPad. This is basically designed to raise the service call, complaints, feedback, reviews for any product listed with company so that the effective business and total customer satisfaction is met, and the long-lasting relation can be setup with clients. Effective online resolution tracking and effective resolution of complaint can be tracked using this application.
        </p>
     </div>
   
<!--Section 3-->
    <div class="nunito lg:mx-8 mx-4">
        <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="mt-8 lg:mt-12 mx-2 lg:mx-2 text-[#242331] text-xl lg:text-2xl font-extrabold">Solutions </p>  
        <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4  mx-2 lg:mx-2 text-[#0B1C98] text-xl lg:text-2xl font-extrabold">Architecture Re - Design </p>  
        <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right"  class="mt-4 lg:mt-8 mx-2 lg:mx-2 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold">1. Monolithic </p>  
    </div>
     
    <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-right"  class="mt-4 lg:mx-8 mx-4">
        <img src="../public/images/Products_Sec3_Monolithic.svg" alt="" class="mx-auto">
    </div>
  
 <!--Section 4-->   
     <div class="nunito">
      <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right"  class="mt-4 lg:mt-12 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">4. Micro Services 
        <img src="../public/images/Products_Sec4_Micro.svg" alt="" class="mx-auto mt-4"  data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-left" >
    </div> 
   
       <p  data-aos-easing="linear" data-aos-duration="2500" data-aos="fade-up"   class="mt-4 mx-8 lg:mt-16 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">SCLOUDIN was fully responsible for developing and supporting the solution. For 10+ years of collaboration, our team grew from 2 to 35 specialists. We had four teams working alongside, with each of them responsible for a specific part, such as the admin panel, the marketing campaigns functionality, the frontend, and DevOps.  <br><br>
        Initially, we practiced Scrum with 3-week sprints but soon moved to Kanban to accommodate dynamic changes posed by the customer’s business. We released new features several times a week and could make flexible plans, reprioritizing tasks as needed. Despite returning to Scrum when developing the microservices-based system, we kept the by-feature release schedule. <br><br>
        Our team implemented automated tests, including unit, server and end-to-end tests. Automated testing allowed us to reduce test execution time from two days to a few hours. To streamline release cycles, we also involved our DevOps engineers, who set up a CI/CD pipeline using Bamboo and Bitbucket. To ensure high software quality and team cohesion, we also practiced code review.
    </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="mt-8 lg:mt-12 mx-4 lg:mx-8 text-[#242331] text-xl lg:text-2xl font-extrabold">Results </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">During more than 10 years of collaboration, we became a trusted technology advisor and development partner to the network of 30+ media publishers. Our team was fully responsible for developing the content distribution and marketing workflow management solution, delivering new features, migrating to the SaaS model and microservices-based architecture, and incorporating Agile development practices.
       <br><br>
        During our cooperation, we achieved the following results:

        <ul  data-aos-easing="linear" data-aos-duration="2500" data-aos="fade-up"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">

       <li> We helped increase the number of affiliated media publishers using the solution from one to more than 30.
       </li>
       <li> We implemented real-time remote monitoring and management software and enabled the customer to get data updates hourly instead of weekly.  </li>
       <li> We improved the application scalability by moving from a monolithic architecture to a microservices-based one.  </li>
      <li>  We automated software testing and deployment by setting up a CI/CD pipeline and running automated tests.
      </li>
        </ul>
    </p> 
    </div>
<!--Section 5-->
      <div class="mt-12 lg:mt-24 nunito"> 
        <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-8 lg:mt-12 mx-8 text-[#242331] text-2xl lg:text-4xl font-extrabold animate-pulse">Product No 2 - </p>
     </div>
      <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-4 lg:mt-12 mx-4">
        <img src="../public/images/Products_Sec5_BG.svg" alt="section 2" class="mx-auto rounded-3xl">
    </div>
     <div>
      <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">
        <li>inCRBMS, a mobile cloud retail business management solution</li>
       </ul>
      <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-2 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">The mobile Retailer is a mobile and server app that runs on both Android/iOS phones and tablets/iPad. This is basically designed to manage a small retailer business of 1-100 employee capacity. This application will enable to create the regular customer database with retailer and then announce and promote retailers’ new products with mobile app so that at any moment of time customer can check the new release products and order or book the same before launching to avoid the last moment rush. Real time interaction and updates are conveyed to retailers from Suppliers to make the business successful.
       
         <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">
 
        <li>stom workflow management SaaS</li>
        <li>Integration with internal systems </li>
        <li> Microservices-based architecture design </li>
       <li> Usability audit and UX improvements</li>
         </ul>
     </p> 
    </div>
 <!--Section 6-->

     <div class="mt-12 lg:mt-24 nunito"> 
        <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-8 lg:mt-12 mx-8 text-[#242331] text-2xl lg:text-4xl font-extrabold animate-pulse">Product No 3 - </p>
     </div>
      <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-4 lg:mt-12 mx-4">
        <img src="../public/images/Products_Sec6_BG.svg" alt="section 2" class="mx-auto rounded-3xl">
    </div>
     <div>
      <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">
        <li>inCSEMS, a mobile cloud smart education and learning management system.</li>
       </ul>
      <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-2 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl"> The mobile smart school and education learning is a mobile and server app that runs on both Android/iOS phones and tablets/iPad. This solution enables schools to make their good presence in new edge of technology and provide effective facilities for parents and students.
        The current version of this mobile app provides information about school, School bus tracking, Student tacking in      premised. The aggretor app which can list all schools’ activities etc.
           The demo is available for this application, please be in touch for more information.
       
         <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">
 
        <li>stom workflow management SaaS</li>
        <li>Integration with internal systems </li>
        <li> Microservices-based architecture design </li>
       <li> Usability audit and UX improvements</li>
         </ul>
     </p> 
    </div>
    <!--Section 6-->
    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right" class="mt-4 lg:mt-12 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">3. Monolithic 
        <img src="../public/images/Products_Sec3_Monolithic.svg" alt="" class="mx-auto mt-4 " data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-right">
    </div> 

    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right" class="mt-4 lg:mt-12 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">4. Micro Services 
      <img src="../public/images/Products_Sec4_Micro.svg" alt="" class="mx-auto mt-4" data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-left">
  </div> 
     <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="mt-4 mx-8 lg:mt-16 text-[#797979] text-justify text-md md:text-xl lg:text-2xl nunito">SCLOUDIN was fully responsible for developing and supporting the solution. For 10+ years of collaboration, our team grew from 2 to 35 specialists. We had four teams working alongside, with each of them responsible for a specific part, such as the admin panel, the marketing campaigns functionality, the frontend, and DevOps.  <br><br>
    Initially, we practiced Scrum with 3-week sprints but soon moved to Kanban to accommodate dynamic changes posed by the customer’s business. We released new features several times a week and could make flexible plans, reprioritizing tasks as needed. Despite returning to Scrum when developing the microservices-based system, we kept the by-feature release schedule. <br><br>
    Our team implemented automated tests, including unit, server and end-to-end tests. Automated testing allowed us to reduce test execution time from two days to a few hours. To streamline release cycles, we also involved our DevOps engineers, who set up a CI/CD pipeline using Bamboo and Bitbucket. To ensure high software quality and team cohesion, we also practiced code review.
   </p>
   
   <!--Section 7-->
   <div class="nunito">
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="mt-8 lg:mt-12 mx-4 lg:mx-8 text-[#242331] text-xl lg:text-2xl font-extrabold">Results </p>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">During more than 10 years of collaboration, we became a trusted technology advisor and development partner to the network of 30+ media publishers. Our team was fully responsible for developing the content distribution and marketing workflow management solution, delivering new features, migrating to the SaaS model and microservices-based architecture, and incorporating Agile development practices.  
       <br><br>
        During our cooperation, we achieved the following results:  

        <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">

       <li> We helped increase the number of affiliated media publishers using the solution from one to more than 30.
       </li>
       <li> We implemented real-time remote monitoring and management software and enabled the customer to get data updates hourly instead of weekly.  </li>
       <li> We improved the application scalability by moving from a monolithic architecture to a microservices-based one.  </li>
      <li>  We automated software testing and deployment by setting up a CI/CD pipeline and running automated tests.
      </li>
        </ul>
    </p> 
   </div>

   <!--section 8-->
   <section class="nunito">
   <div class="mt-12 lg:mt-24 "> 
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-8 lg:mt-12 mx-8 text-[#242331] text-2xl lg:text-4xl font-extrabold animate-pulse">Product No 4 - </p>
 </div>
  <div  data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-in"  class="mt-4 lg:mt-12 mx-4">
    <img src="../public/images/Products_Sec7_BG.svg" alt="section 2" class="mx-auto rounded-3xl">
</div>
 <div>
  <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">
    <li>inCRBMS, a mobile cloud cable business management system </li>
   </ul>
    <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-2 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">
       The mobile cable business is a mobile and server app that runs on both Android/iOS phones and tablets/iPad. This is basically designed to manage a business for small cable operator of 1-100 connection and can be scaled up to maximum numbers. The monthly money collection, customer creation, bulk scheme collection is some of the features of this app.
     </p> 
      </div>
</section>
      <!--Section 9-->
    <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right" class="mt-4 lg:mt-12 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">5. Monolithic 
      <img src="../public/images/Products_Sec3_Monolithic.svg" alt="" class="mx-auto mt-4" data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-right">
  </div> 

  <div data-aos-easing="linear" data-aos-duration="1500" data-aos="zoom-out-right" class="mt-4 lg:mt-16 mx-4 lg:mx-8 text-[#0B1C98] text-2xl lg:text-4xl font-extrabold nunito">6. Micro Services 
    <img src="../public/images/Products_Sec4_Micro.svg" alt="" class="mx-auto mt-4" data-aos-easing="linear" data-aos-duration="1500" data-aos="flip-left">
</div> 
<p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="mt-4 mx-8 lg:mt-16 text-[#797979] text-justify text-md md:text-xl lg:text-2xl nunito">SCLOUDIN was fully responsible for developing and supporting the solution. For 10+ years of collaboration, our team grew from 2 to 35 specialists. We had four teams working alongside, with each of them responsible for a specific part, such as the admin panel, the marketing campaigns functionality, the frontend, and DevOps.  <br><br>
  Initially, we practiced Scrum with 3-week sprints but soon moved to Kanban to accommodate dynamic changes posed by the customer’s business. We released new features several times a week and could make flexible plans, reprioritizing tasks as needed. Despite returning to Scrum when developing the microservices-based system, we kept the by-feature release schedule. <br><br>
  Our team implemented automated tests, including unit, server and end-to-end tests. Automated testing allowed us to reduce test execution time from two days to a few hours. To streamline release cycles, we also involved our DevOps engineers, who set up a CI/CD pipeline using Bamboo and Bitbucket. To ensure high software quality and team cohesion, we also practiced code review.
 </p>
 
 <!--Section 10-->
 <div class="nunito">
  <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"   class="mt-8 lg:mt-12 mx-4 lg:mx-8 text-[#242331] text-xl lg:text-2xl font-extrabold">Results </p>
  <p  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"  class="mt-4 mx-8 text-[#797979] text-justify text-md md:text-xl lg:text-2xl">During more than 10 years of collaboration, we became a trusted technology advisor and development partner to the network of 30+ media publishers. Our team was fully responsible for developing the content distribution and marketing workflow management solution, delivering new features, migrating to the SaaS model and microservices-based architecture, and incorporating Agile development practices.  
     <br><br>
      During our cooperation, we achieved the following results:  

      <ul  data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-right"  class="list-disc text-[#797979]  text-lg lg:text-2xl lg:mx-16 mx-8  mt-8">

     <li> We helped increase the number of affiliated media publishers using the solution from one to more than 30.
     </li>
     <li> We implemented real-time remote monitoring and management software and enabled the customer to get data updates hourly instead of weekly.  </li>
     <li> We improved the application scalability by moving from a monolithic architecture to a microservices-based one.  </li>
    <li>  We automated software testing and deployment by setting up a CI/CD pipeline and running automated tests.
    </li>
      </ul>
  </p> 
 </div>
</main>
 <div>
  <p data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="mt-8 text-[#242331] text-5xl lg:text-7xl text-center font-extrabold nunito ">Want to Start a Project ?</p>
</div>
<section data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up" class="lg:flex flex-row mx-4 nunito">
   <div class=" flex pt-6  lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white my-8 lg:mt-12">
         <img src="../public/images/Home_Sec20_Mail_Icon.svg" alt="" class="h-12 mx-2">
          <div class="flex justify-between mt-2">
            <p class="text-[#1B2534] text-lg lg:text-xl font-bold mx-2 ">Mail Us</p>
            <p class="text-[#797979] text-lg md:ml-32 lg:ml-12">contactus@sclodin.in</p>
          </div>
   </div>
   
   <div class=" flex pt-6 lg:mt-12 lg:px-8 lg:ml-24 h-24 w-full lg:w-[40%] rounded-2xl border shadow-lg bg-white my-8 ">
    <img src="../public/images/Home_Sec20_Call_Icon.svg" alt="" class="h-12 mx-2">
     <div class="flex justify-between mt-2">
       <p class="text-[#1B2534] text-lg lg:text-xl font-bold mx-2 ">Call Us</p>
       <p class="text-[#797979] text-lg md:ml-32 lg:ml-24">+91 9342979716</p>
     </div>
</div>
</section>


<%-include('partials/contactform')%>
<%-include('partials/footer')%>

<script>
  AOS.init();
  AOS.init({
      // Global settings:
      debounceDelay: 50, 
      once: false, 
      mirror: true, 

  });
</script>