<%- include('partials/header') %>
    <main class="font-Nunito w-full h-auto" style="overflow: hidden; scrollbar-base-color: transparent;">
        <!-- Banner section  -->
        <section class="banner w-full  h-[20vh] md:h-[45vh] bg-cover bg-center" ata-aos-easing="linear"
            data-aos-duration="1500" data-aos="fade-left"
            style="background-image: url(../public/images/services_1_reactangular29.svg);">
            <div class="w-full h-full"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%)">

            </div>
        </section>
        <!-- services Section -->
        <section class="w-full px-4 lg:px-[4rem]  my-[3rem] font-Nunito" ata-aos-easing="linear"
            data-aos-duration="1500" data-aos="fade-in">
            <div class="flex flex-col  gap-[1rem] justify-center items-center  w-full" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-right">
                <h2 class="text-[#0B1C98] text-center leading-[110%] font-[800] text-[2.25rem] md:text-[4.3rem]">
                    Services</h2>
                <p class="text-justify text-[1rem] md:text-[1.56625rem] text-[#797979] font-[400]">We are professional
                    in IT Solutions And Services</p>
            </div>
        </section>
        <!--Card 1-->
        <section id="ideations_POC" class=" px-4 my-2 hover:bg-gray-200" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem]   flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_3_roundedRectangle.png" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[0.5rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Ideation , POCs &
                            MVPs</p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We
                            believe in providing
                            seamless
                            experience at SCLOUDIN
                            .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl  font-[400]">
                        We
                        believe in providing
                        seamless
                        experiences
                        through a
                        user-centric and
                        emotional design
                        approach. SCLOUDIN provides
                        end-to-end UI/UX solutions using the advance designing approach – producing wireframes,
                        developing mock-ups in stages
                        and taking feedback and approval at each step.
                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  font-[400]">
                        SCLOUDIN helps you with
                        strategizing how you can enhance user experience and add value
                        proposition with product idea
                        validation.</p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                    <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span> <br>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>

                </div>
            </div>
        </section>
        <!--Card 2-->
        <section id="UI_UX" class=" px-4 my-3 hover:bg-gray-200" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  bg-[#EDEFF6] rounded-[1.25rem] shadow-md h-full justify-center gap-[0.5rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full ">
                        <img src="../public/images/services_4_RoundedRectangle.svg" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center" loading="lazy" ata-aos-easing="linear"
                            data-aos-duration="1500" data-aos="fade-left">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">UI/UX Designing
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-up">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        We
                        believe in providing
                        seamless
                        experiences
                        through a
                        user-centric and
                        emotional design
                        approach. SCLOUDIN provides
                        end-to-end UI/UX solutions using the advance designing approach – producing wireframes,
                        developing mock-ups in stages
                        and taking feedback and approval at each step.
                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  text-justify font-[400]">
                        SCLOUDIN helps you with
                        strategizing how you can enhance user experience and add value
                        proposition with product idea
                        validation.</p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                    <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span> <br>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                </div>
            </div>
        </section>
            <div class=" md:w-[90%] mx-auto flex flex-col gap-[1rem] md:gap-[2rem] md:mt-[2rem]" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-down">
                <h2
                    class="text-[#000] text-justify text-[1.25rem] md:text-[1.5rem] font-Nunito font-bold leading-[2.3rem] ">
                    Enhancing
                    User Experience
                </h2>
                <p class="text-[#797979] text-[1rem] md:text-[1.5rem] text-justify font-Nunito">SCLOUDIN helps you with
                    strategizing
                    how you can
                    enhance user
                    experience and
                    add value proposition
                    with product idea
                    validation.</p>
                <ul style="list-style: disc;"
                    class="grid grid-cols-1 px-4 md:text-[1.1rem] gap-[.8rem] leading-[2.3125rem] text-[#0B1C98] text-[1rem] font-[500]  md:grid-cols-2 lg:w-[50%]">
                    <li>UI Kit And Design</li>
                    <li>System SEO-Friendly Content</li>
                    <li>Visual design and tools</li>
                    <li>UI/UX Audit</li>
                </ul>
            </div>
      
        <!--Card 3-->
        <section id="digital_marketing" class=" px-4 my-3 hover:bg-gray-200" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[0.5rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_5_RoundedRectangle.svg" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Digital Marketing
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[1rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        With a custom strategy, data-driven insights from Google AI, we’ll help your business impact the
                        metrics that matter
                        most, from traffic to revenue. With digital marketing, your business can expand into new areas
                        and achieve tremendous
                        accomplishments in your industry.
                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  text-justify font-[400]">
                        SCLOUDIN helps you with
                        strategizing how you can enhance user experience and add value
                        proposition with product idea
                        validation.</p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>

                </div>
            </div>
            <div class=" md:w-[90%] mx-auto gap-[1rem] md:mt-[1rem] hidden md:flex" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-left">

                <p class="text-[#797979]  text-md md:text-xl lg:text-xl mb-[1rem]  font-Nunito">
                    It is a long established fact that a reader will be distracted Email Marketing It is long
                    established fact that a reader
                    will be distracted Website Strategy It is long established fact that a reader will be distracted
                </p>

            </div>
        </section>
        <!--Crad 4-->
        <section id="traffic" class="hover:bg-gray-200 px-4 my-3" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_6_RoundedRectangle.svg" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Traffic and Sales
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        Logik is the best digital marketing agency to offer a 360 degree digital services portfolio. We
                        have a focused approach
                        to drive traffic and sales through our digital marketing services.

                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  text-justify font-[400]">
                        SCLOUDIN helps you with
                        strategizing how you can enhance user experience and add value
                        proposition with product idea
                        validation.</p>
                        <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                            <span
                                class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                                to ask any
                                question </span>
                            <span
                                class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                                984 99
                                123 85 </span>
                        </p>
                        <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                            <span
                                class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                                to ask any
                                question </span> <br>
                            <span
                                class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                                984 99
                                123 85 </span>
                        </p>
    

                </div>
            </div>
        </section>
        <!---Crad 5-->
        <section  id="graphic_design"  class="hover:bg-gray-200 px-4 my-3" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_7_RoundedRectangle.svg" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Graphic Designing
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl  text-justify font-[400]">
                        The graphic design promotes creativity and makes your business easy to consume for the audience.
                        Graphic designing is a
                        way of conveying product concept more effective. We at Logik helps you manage and represent your
                        brand in the best
                        visual way.

                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  font-[400]">
                        SCLOUDIN helps you with
                        strategizing how you can enhance user experience and add value
                        proposition with product idea
                        validation.</p>
                        <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                            <span
                                class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                                to ask any
                                question </span>
                            <span
                                class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                                984 99
                                123 85 </span>
                        </p>
                        <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                            <span
                                class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                                to ask any
                                question </span> <br>
                            <span
                                class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                                984 99
                                123 85 </span>
                        </p>
    

                </div>
            </div>
        </section>
        <!--Card 6-->
        <section id="mobile_app" class="hover:bg-gray-200 px-4 my-3 hidden md:block" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_8_RoundedRectangle.png" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center" loading="lazy">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Mobile App
                            Development
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl   text-justify font-[400]">
                        We get to know your business and tailor our application development services to your goals and
                        expectations. We explore
                        the market and understand your needs and capabilities.

                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  text-justify font-[400]">
                        Leverage mobile technology for your business, Logik’s best app developers are at your service.
                        We provide iOS and
                        Android mobile application development services so you can reach your customers on their
                        favorite devices.
                    </p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                    <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span> <br>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>

                </div>
            </div>
            <div class=" w-[90%] mx-auto px-3 pb-2 flex flex-col gap-[0.5rem] mt-[1rem]" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-left">

                <p class="text-[#797979] text-md md:text-xl lg:text-xl font-Nunito">
                    IOS It is long established fact that a reader will be distracted . Android It is a long
                    established fact that a reader
                    will be distracted React Native It is long established fact that a reader will be distracted
                    .
                </p>

            </div>
        </section>
        <!--Card 7-->
        <section id="custom_mobile"   class="hover:bg-gray-200 px-4 my-3" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_9_RoundedRectangle.png" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Custom Mobile App
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  testfont_  leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[1rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        We get to know your business and tailor our application development services to your goals and
                        expectations. We explore
                        the market and understand your needs and capabilities.

                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink  text-justify font-[400]">
                        Leverage mobile technology for your business, Logik’s best app developers are at your service.
                        We provide iOS and
                        Android mobile application development services so you can reach your customers on their
                        favorite devices.
                    </p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                    <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span> <br>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>

                    <ul style="list-style: disc;"
                        class="grid grid-cols-1 px-4 leading-[2.3125rem] text-[#0B1C98] text-[1.1rem] font-[500] md:w-[80%]  md:grid-cols-2 ">
                        <li>UX Review</li>
                        <li>New App Consulting</li>
                        <li>Full-cycle development</li>
                        <li>App Design Service</li>
                    </ul>
                </div>
            </div>
        </section>
        <!---Card 8-->
        <section id="web_app"  class="hover:bg-gray-200 px-4 my-3" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_10-RoundedRectangle.png" alt="Ideation,Pocs & Mvps"
                            class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">Web App
                            Developments
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        We are focused on developing innovative web and mobile software as well as state-of-the-art user
                        interfaces that can run
                        across multiple devices and platforms, using the perfect mix of creativity, talent, and
                        professionalism. Additionally,
                        we have deep domain expertise in different technologies (such as PHP, iOS, Java, .NET,
                        JavaScript and HTML5).

                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl flex-shrink font-[400]">

                        Logik works with you to produce customized digital marketing services and a plan that aligns
                        with your unique business
                        needs.
                    </p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                    <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span> <br>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>



                </div>
            </div>
        </section>
        <!--Crad 9-->
        <section id="end_to_end" class="hover:bg-gray-200 px-4 my-3" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div
                class="flex  py-[2rem] flex-col lg:flex-row justify-between items-center gap-[3rem] w-full md:w-[90%] mx-auto">
                <div
                    class="flex flex-col  rounded-[1.25rem] shadow-md h-full justify-center gap-[1rem] bg-[#fff] p-[.5rem] w-full lg:w-[60%]">
                    <figure class="w-full " ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-left">
                        <img src="../public/images/services_11_RoundedRectangle.png" loading="lazy"
                            alt="Ideation,Pocs & Mvps" class="w-full object-contain object-center">
                    </figure>
                    <div class="flex flex-col gap-[0.5rem] p-[1rem] pb-[1rem]" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-right">
                        <p class=" text-gray-900 font-[600] text-[1rem]  md:text-[1.5rem] font-Nunito">End to End
                            Solutions
                        </p>
                        <p
                            class="text-[#425466] text-[.8rem] md:text-[1rem] lg:text-[.875rem]  font-[Inter] leading-[1.5rem]">
                            We believe in providing seamless experience at SCLOUDIN .</p>

                    </div>
                </div>
                <div class="w-full lg:w-[140%] h-full flex flex-col gap-[2rem] justify-center items-start font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">

                    <p class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        We offer an end-to-end web development services to equip your company, customers and clients
                        with the digital tools that
                        make them efficient, innovative and successful.

                    </p>
                    <p
                        class="text-[#797979] text-md md:text-xl lg:text-xl font-[400]">
                        Logik works with you to produce customized digital marketing services and a plan that aligns
                        with your unique business
                        needs.
                    </p>
                    <p class="flex justify-center md:gap-[3rem]  gap-[1rem] items-center lg:flex md:flex hidden">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>
                    <p class=" justify-center md:gap-[3rem]  gap-[1rem] items-center lg:hidden md:hidden block">
                        <span
                            class="text-[#000] text-justify text-xl leading-[37px] font-Nunito font-[500]">Call
                            to ask any
                            question </span> <br>
                        <span
                            class="text-[#0B1C98] text-xl font-[500] leading-[37px]  font-Nunito">(+91)
                            984 99
                            123 85 </span>
                    </p>


                </div>
            </div>
        </section>
        <!--Card 10-->
        <section class="px-4 my-3 font-Nunito" ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-in">
            <div class=" flex md:w-[90%] flex-col gap-[2rem] mx-auto" ata-aos-easing="linear" data-aos-duration="1500"
                data-aos="fade-down">
                <h1
                    class="text-[#0B1C98] leading-[110%] text-justify font-Nunito text-3xl first-letter:Capitalize  font-[800]">
                    We Offer
                    SAAS Based Product
                    Services And Application Design & Deployment</h1>
                <p class="text-[#797979] font-[400] text-md md:text-xl lg:text-xl font-Nunito">Understanding
                    client’s
                    expectations is the
                    most important
                    thing when
                    doing
                    Software Development. The best
                    way to achieve
                    that is through the definition of the project utilizing the following tools and activities:
                </p>
                <h2 class="text-[#797979] text-md md:text-xl lg:text-xl font-[400] font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
                    <span class="text-[#0B1C98] font-[600] text-xl">INTERACTIVE WIREFRAMES: </span>We
                    focus the project definition with this tool, allowing us to
                    create clickable
                    mockups for our
                    client’s review.
                </h2>
                <h2 class="text-[#797979] text-md md:text-xl lg:text-xl font-[400] font-Nunito"
                    ata-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down">
                    <span class="text-[#0B1C98] font-[600]">FUNCTIONAL SPECS: </span>
                    Support document that describes the functionalities that cannot be described in a visual way with
                    the Interactive
                    Wireframes.
                </h2>
                <h2 class="text-[#797979] text-md md:text-xl lg:text-xl font-[400] font-Nunito">
                    <span class="text-[#0B1C98] font-[600]">TECHNICAL SPECS:</span>
                    Defines the technology and architecture required to build the application.
                </h2>
                <h2 class="text-[#797979] text-md md:text-xl lg:text-xl font-[400] font-Nunito">
                    <span class="text-[#0B1C98] font-[600]">GRAPHIC DESIGN: </span>
                    Our artists take the wireframes to create astonishing designs to reach the client’s goal.
                </h2>
            </div>
            <div style="background-image: url(../public/images/services_12_Photo.svg);" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-down"
                class="bg-cover bg-center md:w-[90%] h-[25vh] md:h-[48vh] my-[4rem] mx-auto rounded-2xl md:rounded-[3rem]">

            </div>
            <div class="md:w-[90%] mx-auto flex flex-col gap-[1rem] items-start" ata-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-left">
                <h2 class="text-[#0B1C98] text-[1.25rem] md:text-[3rem] font-[800] font-Nunito" ata-aos-easing="linear"
                    data-aos-duration="1500" data-aos="fade-left">
                    CMS AND E-COMMERCE
                </h2>
                <p class="text-[#797979] text-md md:text-xl lg:text-xl font-Nunito  pb-8">We
                    live and
                    breathe e-commerce,
                    one of our oldest
                    practices at
                    SCLOUDIN. We
                    have designed and
                    implemented high volume
                    gateways with multiple payment methods, checkout flows and various creative shopping experiences.
                    From the simple
                    shopping funnels to the most complex digital stores, we leverage our own custom solutions to build
                    unique experiences
                    for online buyers, and we also work with an ecosystem of partners in this space.
                    Our continued R&D on CMS technologies has enabled us to extend and improve the scope of CMS features
                    to increase
                    speed-to-market and productivity. We leverage world class CMS systems, provide strategy and
                    development services to
                    create end-to-end solutions which involve user experience design and user management, content
                    organization and data
                    management, migration strategy, publishing workflows, security, search optimization, asset
                    management strategy, web
                    analytics, system deployment support and operations management.
                </p>
            </div>
        </section>


    </main>
    <script>
        AOS.init();
        AOS.init({
            // Global settings:
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            once: false, // whether animation should happen only once - while scrolling down
            mirror: true, // whether elements should animate out while scrolling past them

        });
    </script>
    <%- include('partials/footer') %>