<%- include('partials/header') %>
    <style>
        p {
            color: #797979;
        }
        .text-blue{
            color:#0B1C98 ;
        }
    </style>


    <main class="max-w-[100vw] oveflow-x-hidden" style="overflow-x: hidden;">
        <!-- Banner section  -->
        <section
            class="banner fade-down w-full oveflow-x-hidden fadein  h-[20vh] md:h-[45vh] bg-cover bg-center"
            data-aos-easing="linear" data-aos-duration="1500" data-aos="fade-down"
            style="background-image: url(../public/images/technology_1_Rectangle28.svg);">
            <div class="w-full h-full"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%)">

            </div>
        </section>
        <!-- services Section -->
        <section class="w-full px-4 fade-down lg:px-[4rem]  md:my-[3rem] font-Nunito oveflow-x-hidden "
            data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="flex flex-col  gap-[1rem] justify-center items-center  w-full">
                <h2
                    class="text-[#0B1C98] text-center leading-[110%] font-[800] font-Nunito text-[2rem] md:text-[4.6rem]">
                    Technology </h2>
                <p id="why_scloudin"
                    class="text-justify text-[.9375rem] md:text-[1.56625rem] text-[#797979] font-[400] font-Nunito leading-[157%]">
                    We are professional in IT Solutions And Services
                </p>
            </div>
        </section>
        <section class="w-full oveflow-x-hidden px-7 my-4 fade-down" data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="1500" >
            <div
                class="flex  md:py-[2rem] flex-col-reverse md:flex-col lg:flex-row justify-between lg:w-[90%]  items-center gap-[3rem] w-full  mx-auto">
                <div class="flex flex-col md:w-[80%] gap-[2rem]" ata-aos-easing="linear" data-aos-duration="1500"
                    data-aos="fade-right">
                    <div class=" flex-col flex  w-full gap-[2rem] ">
                        <h2 class="text-blue text-[1.5rem] font-Nunito md:text-[3rem] font-[800] leading-[110%]">
                            WHY SCLOUDIN
                        </h2>
                        <p class="text-xl md:text-xl  font-Nunito lg:leading-[150%]">
                            SCLOUDIN was
                            created
                            by a team of
                            experienced
                            entrepreneurs
                            who are
                            deeply committed

                            to
                            technology and digital services.
                            SCLOUDIN now leverages this expertise by selectively partnering with more than half
                            dozen
                            startups - investing in their
                            technology development, providing leadership and guidance, and growing these
                            organizations
                            with
                            financial and in-kind
                            support.
                        </p>
                    </div>
                    <p
                        class="text-justify md:text-xl text-xl font-[400] font-Nunito leading-[150%] font-Nunito">
                        SCLOUDIN deploys its leadership and development teams to work with and invest in innovative
                        mobile product startups.
                        Having
                    </p>
                </div>
                <div
                    class=" lg:w-[55%] w-full flex justify-center items-center max-h-[70vh] overflow-hidden rounded-[3.25rem] ">
                    <img src="../public/images/technology_2_Photo.svg" alt="" srcset="" ata-aos-easing="linear"
                        data-aos-duration="1500" data-aos="fade-left" class="object-cover rounded-[3.25rem] 
                        w-[100%]
                        md:w-[70%]">
                </div>
            </div>
            <p
                class="text-justify md:text-xl first-letter:capitalize text-xl font-[400] font-Nunito leading-[150%] font-Nunito md:w-[90%] mx-auto my-[2rem]">
                created premium apps spanning a variety of content, disciplines and digital formats, SCLOUDIN
                enables
                companies to
                seamlessly add mobile to their technology stack, ensuring instant access to information - anytime,
                anywhere and on any
                device.
            </p>
        </section>
        <section
            class="md:my-[7rem] bg-[#F1F1F1 ] w-full oveflow-x-hidden   flex-col-reverse flex   lg:flex-row  relative md:rounded-[3.125rem]  shadow-sm" id="partnership">
            <div class="lg:h-[85vh] px-7 py-[3rem] w-full lg::w-[70%] flex flex-col justify-center items-start lg:px-[6rem] "
                data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                <div class=" flex  justify-center items-start flex-col md:gap-[2rem] gap-[1rem] ">
                    <h2 class="text-blue font-[800] text-[2.25rem] md:text-[3.125rem] font-Nunito leading-[110%]">
                        Partnerships
                    </h2>
                    <p class="text-justify md:text-xl text-xl font-[400] leading-[157%] font-Nunito">
                        Partnering with
                        SCLOUDIN
                        eliminates or
                        dramatically
                        reduces these barriers
                        to success, enabling
                        entrepreneurs to focus
                        on transforming their ideas into outstanding enterprises .</p>
                    <div class="hidden gap-[2rem] justify-center items-center hidden md:flex">
                        <img src="../public/images/technology_3_Icon.svg" alt="">
                        <p class="flex flex-col ">
                            <span class="text-[#242331] font-Nunito font-[700] md:text-[1.875rem]">Cost
                                Effective</span>
                            <span
                                class="md:text-xl text-xl font-[400] text-[#797979] font-Nunito leading-[157%]">Contrary
                                to popular
                                belief, Lore
                                Ipsum
                                is not simply random text.</span>
                        </p>
                    </div>
                </div>

            </div>


            <div class="relative lg:w-[60%] w-full  items-center flex  " data-aos="fade-right" data-aos-easing="linear"
                data-aos-duration="1500">
                <img src="../public/images/technology_3_Image.svg" alt="meetup image"
                    class="  top-[10%]  w-[100%] right-0">
            </div>


        </section>
        <section class="my-3 px-7 w-full lg:px-[4rem] w-full oveflow-x-hidden" data-aos="fade-up"
            data-aos-easing="linear" data-aos-duration="1500">
            <ul
                class="w-[90%]  mx-auto flex flex-col text-justify gap-[1rem] list-disc text-xl  md:text-xl font-Nunito text-[#797979] ">

                <li>A seasoned management team, with a proven track record of cultivating successful startups.</li>
                <li>Unique partnerships comprising in-kind subsidized technology development, enterprise level
                    contacts
                    and capital
                    investment.</li>
                <li>
                    Opportunities to efficiently access and penetrate new markets.
                </li>
                <li>
                    Healthy deal flow and solid portfolio.
                </li>
                <li>
                    Ability to significantly reduce costs and streamline operations
                </li>
            </ul>
        </section>
        <section class="my-[3rem] px-7 font-Nunito w-full oveflow-x-hidden " data-aos="fade-in" data-aos-easing="linear"
            data-aos-duration="1500">
            <div class="flex flex-col gap-[2rem] w-[90%] mx-auto items-start justify-center">
                <h2
                    class="text-blue text-3xl md:text-2xl leading-[110%] font-Nunito font-[800] leading-[110%]">
                    Technology</h2>
                <p class="md:text-xl text-xl text-[#797979] font-Nunito text-justify leading-[110%]">We
                    understand that
                    each
                    project and
                    each client is
                    unique with
                    their own
                    specific
                    requirements. Based
                    on our knowledge
                    and experience, we select the most suitable technology for the software solution you are looking
                    for.</p>

            </div>
            <div
                class="grid   grid-cols-1 overflowX-hidden place-items-center lg:grid-cols-3 gap-[3rem] md:w-[70%]  lg:w-[90%] mx-auto my-[3rem]">
                <div class="flex flex-col md:hidden w-full justify-between items-start py-[1rem] md:py-[2.5rem] px-[2rem]  gap-[1rem] md:gap-[1.5rem] shadow b-[#B8B8B8] rounded-[1.87rem]"
                    data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] text-[1rem] md:text-[1.5rem] font-[700] text-justify font-Nunito">
                            Web
                            Application
                            Development</h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">Java Script
                            ,
                            Angular JS , JQuery
                            , Anthem ,
                            CSS3 HTML 5 ,
                            Ruby on Rails ,
                            Bootstrap , Flash -
                            Flex , Responsive Web
                            Design</p>
                    </div>
                    <div class="flex  space-x-[1rem]  items-center justify-start">
                        <img src="../public/images/technology_6_image 14164.svg" loading="lazy" class="w-[2rem]" alt="">
                        <img src="../public/images/technology_6_image14167.svg" loading="lazy" class="w-[2rem]" alt="">
                        <img src="../public/images/technology_6_image14168.svg" class="w-[2rem]" alt="">
                        <img src="../public/images/technology_6_image142.svg" class="w-[2rem]" alt="">
                        <img src="../public/images/technology_6_image143.svg" class="w-[2rem]" alt="">
                        <img src="../public/images/technology_6_image144.svg" class="w-[2rem]" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class="flex-col w-full justify-between hidden md:flex lg:min-h-[35vh]  items-start py-[2rem] px-[2rem] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700] font-Nunito">Web
                            Application
                            Development</h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">Java Script
                            ,
                            Angular JS , JQuery
                            , Anthem ,
                            CSS3 HTML 5 ,
                            Ruby on Rails ,
                            Bootstrap , Flash -
                            Flex , Responsive Web
                            Design</p>
                    </div>
                    <div class="grid grid-cols-5    items-center justify-start place-content-start ">
                        <img src="../public/images/technology_6_image 14164.svg" loading="lazy" alt="">
                        <img src="../public/images/technology_6_image14167.svg" loading="lazy" alt="">
                        <img src="../public/images/technology_6_image14168.svg" loading="lazy" alt="">
                        <img src="../public/images/technology_6_image14169.svg" loading="lazy" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden md:flex lg:min-h-[35vh] p-[2rem] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700] font-Nunito">Backend
                            Technologies
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Golang , PHP , JAVA , Python , Perl , Microsoft . Net
                        </p>
                    </div>
                    <div class="gap-[1rem] grid grid-cols-5  items-center justify-start">
                        <img src="../public/images/technology_6_image14170.svg" loading="lazy" alt="">
                        <img src="../public/images/technology_6_image14171.svg" loading="lazy" alt="">
                        <img src="../public/images/technology_6_image14172.svg" loading="lazy" alt="">
                        <img src="../public/images/technology_6_image14173.svg" loading="lazy" alt="">
                        <img src="../public/images/technolgoy_6_image14174.svg" loading="lazy" alt="">
                    </div>
                </div>
                <div data-aos="flip-right" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden md:flex p-[2rem] lg:min-h-[35vh] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700]  font-Nunito">Data Bases
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Microsoft SQL Server , MySQL , Oracle , Mongo DB
                        </p>
                    </div>
                    <div class="gap-[1rem]  p-[1rem] grid grid-cols-3 items-center justify-center">
                        <img src="../public/images/technology_6_image14185.svg" alt="">
                        <img src="../public/images/technology_6_image14186.svg" alt="">
                        <img src="../public/images/technology_6_image14187.svg" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden md:flex p-[2rem] lg:min-h-[35vh] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700]  font-Nunito">Quality
                            Assurance Services
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Test Automation , Selenium , Manual Testing , Unit Testing
                        </p>
                    </div>
                    <div class="flex gap-[1rem]  items-center justify-start">
                        <img src="../public/images/technology_6_image14188.svg" alt="">

                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden md:flex lg:min-h-[35vh] p-[2rem] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700]  font-Nunito ">
                            Social Integration Development
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Facebook , Twitter , Instagram
                        </p>
                    </div>
                    <div class=" gap-[1rem] flex   items-center justify-start">
                        <img src="../public/images/technology_6_image14189.svg" alt="">
                        <img src="../public/images/technology_6_image14190.svg" alt="">
                        <img src="../public/images/technology_6_image14191.svg" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden md:flex p-[2rem] lg:min-h-[35vh] ] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700]  font-Nunito ">
                            Mobile Technologies
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Native iOS Apps , iPhone SDK , Objective C , Native Android Apps , Phone Gap
                        </p>
                    </div>
                    <div class="grid grid-cols-5 gap-[.4rem] items-center justify-start">
                        <img src="../public/images/technology_6_image14192.svg" class="w-[80%]" alt="">
                        <img src="../public/images/technology_6_image14193.svg" class="w-[80%]" alt="">
                        <img src="../public/images/technology_6_image14194.svg" class="w-[80%]" alt="">
                        <img src="../public/images/technology_6_image14195.svg" class="w-[80%]" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden md:flex lg:min-h-[35vh] p-[2rem] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700]  font-Nunito ">
                            3rd Party Software Integration
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            SOAP , XML RPC , JAVA Server Applets , JSON , RESET APIs </p>
                    </div>
                    <div class="gap-[1rem] items-center justify-start grid grid-cols-5">
                        <img src="../public/images/technology_6_image14204.svg" alt="">
                        <img src="../public/images/technology_6_image14206.svg" alt="">
                        <img src="../public/images/technology_6_image14205.svg" alt="">
                        <img src="../public/images/technology_6_image14207.svg" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between hidden lg:min-h-[35vh] md:flex p-[2rem] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.3rem] font-[700]  font-Nunito ">
                            Contact Management System
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Artificial Intelligence AI , Machine Learning ML , NLP - Natural Language Processing
                        </p>
                    </div>
                    <div class="flex items-center justify-start">
                        <img src="../public/images/technology_6_image14208.svg" alt="">
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500"
                    class=" flex-col w-full justify-between lg:min-h-[35vh] hidden md:flex p-[2.5rem] gap-[1rem] shadow b-[#B8B8B8] rounded-[1.87rem]">
                    <div class="flex flex-col gap-[1rem]">
                        <h2 class="text-[#0B1C98] md:text-[1.5rem] font-[700]  font-Nunito ">
                            Server Administration
                        </h2>
                        <p class="text-[#797979] text-[.875rem] font-Nunito text-justify leading-[157%]">
                            Cloud Services , Load Balancing , 24 x 7 Technical Support </p>
                    </div>
                    <div class="flex items-center justify-start gap-[1rem]">
                        <img src="../public/images/technology_6_image14209.svg" alt="">
                        <img src="../public/images/technology_6_image14210.svg" alt="">
                    </div>
                </div>

            </div>
        </section>
        <section class="my-3 w-full md:w-[90%] mx-auto relative md:py-4 oveflow-x-hidden " data-aos-easing="linear"
            data-aos-duration="1500" data-aos="fade-in" id="process"> 
            <h2
                class="text-blue  absolute left-0 md:top-[7vh] mx-auto text-[1.5rem] md:text-[4rem] font-[800] font-Nunito px-[2rem]">
                Process
            </h2>
            <div class="w-full  my-[3rem] mx-auto flex justify-center items-center overflowX-hidden">
                <img src="../public/images/technology_7_Group1000003004.svg" data-aos-easing="linear"
                    data-aos-duration="1500" data-aos="fade-right" loading="lazy" alt="" class="md:hidden w-[70%]">
                <img src="../public/images/technology_7_Group1000003005.svg" data-aos="fade-up"
                    data-aos-easing="linear" data-aos-duration="1500" alt="" class="hidden md:block w-[70%]">
            </div>
        </section>
        <section class="flex flex-col px-7 font-Nunito md:gap-[3rem] gap-[1rem] overflowX-hidden "
            data-aos-easing="linear" data-aos-duration="3000" data-aos="fade-in" >
            <div class="flex flex-col w-[90%] mx-auto items-start gap-[2rem] my-[1rem]" data-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-right" id="business_model">
                <h2 class="text-blue md:text-[3.5rem] leading-[110%] [1.5rem] font-[800] font-Nunito">
                    Business
                    Model</h2>
                <p class="text-xl md:text-xl font-Nunito text-justify leading-[150%]">We understand that
                    each
                    project
                    and each
                    client
                    is unique with
                    their own
                    specific
                    requirements and
                    based on our
                    knowledge and experience, we select the most suitable technology for the software solution you
                    are
                    looking for.</p>
                <p class="text-xl md:text-xl font-Nunito text-justify leading-[150%]">We believe in
                    value
                    addition for
                    our clients
                    through our technical expertise and processes. We are
                    agile and adaptive to
                    various traditional and emerging business models in the Offshoring and outsourcing industry. We
                    have
                    listed some of them
                    below:
                </p>
            </div>
            <div class="flex flex-col  gap-[1.5rem]  w-[90%] mx-auto" data-aos-easing="linear" data-aos-duration="1500"
                data-aos="fade-left">
                <h2
                    class="flex gap-[1rem] items-center md:text-[3rem] font-Nunito text-[1.25rem] font-[700] text-[#0B1C98]">
                    <img src="../public/images/technology_8_ep_price-tag.svg" class="w-[3rem]" alt="">
                    <span>Fixed
                        Price, Fixed
                        Scope</span>
                </h2>
                <p class="text-xl md:text-xl font-Nunito text-justify leading-[150%]">This model works
                    well when
                    the
                    Client has defined
                    scope, established project management
                    methodologies, and had a stable
                    set of requirements. A client can get better visibility and control over budgets. At the same
                    time,
                    it comes with less
                    flexibility in terms of changes. We define payment milestones based on milestone delivery during
                    the
                    execution phase.</p>
                <p class="text-xl md:text-xl font-Nunito text-justify leading-[150%]">Project
                    requirements,
                    complexity, and expected
                    timelines drive overall pricing and rates. For
                    example, if timelines are
                    aggressive, we need more experienced people to deliver faster.</p>
                <p class="text-xl md:text-xl  font-Nunito text-justify leading-[150%]">We recommend this
                    model if
                    the
                    Client has a fixed
                    and documented set of requirements. This model is
                    not conducive to
                    Product or MVP development.
                </p>
            </div>
            <img src="../public/images/technology_8_image14243.svg" alt=""
                class="w-[100%] md:w-[80%] lg:w-[100vh] mx-auto " loading="lazy" data-aos-easing="linear"
                data-aos-duration="1500" data-aos="fade-right">
        </section>
        <section class="flex flex-col px-4 " data-aos-easing="linear" data-aos-duration="3000" data-aos="fade-in">

            <div class="flex flex-col gap-[1rem] w-[90%] mx-auto" data-aos-easing="linear" data-aos-duration="1500"
                data-aos="fade-left">
                <div class="flex flex-col gap-[1rem] ">
                    <h2
                        class="flex gap-[1rem] items-center font-Nunito text-[1.25rem] md:text-[3rem] font-[800] text-[#0B1C98]">
                        <span>1. Time and Materials</span>
                    </h2>
                    <p class="text-xl  md:text-xl text-justify leading-[150%]">
                        Sometimes it is not possible to define the scope of work before starting the development of
                        a
                        project and instead small
                        definitions are made along the development process. Our agile approach allows us to make
                        progress
                        and show results every
                        week. We keep track of all the hours we spend in our time tracker system and our clients
                        have
                        24×7
                        access to this
                        information, knowing how we spent each hour, providing transparency and full visibility.

                    </p>
                </div>

                <img src="../public/images/technology_9_image14250.svg" alt="" class="w-[80%] my-[2rem]  mx-auto"
                    loading="lazy" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="3000">
            </div>
            <div class="flex flex-col gap-[1rem] w-[90%] mx-auto" data-aos-easing="linear" data-aos-duration="1500"
                data-aos="fade-left">
                <div class="flex flex-col gap-[1rem]">
                    <h2
                        class="flex md:text-[3rem] gap-[1rem] items-center font-Nunito text-[1.25rem] font-[800] text-[#0B1C98]">
                        <span>2. Turnkey Projects</span>
                    </h2>
                    <p class="text-xl font-Nunito  md:text-xl text-justify leading-[150%]">
                        Our procedures allow us to make accurate estimations, providing our clients the opportunity
                        of
                        us working on a fixed
                        bid. This means that we analyze the scope, we create a project plan, and we commit to
                        completing
                        the project by a
                        specific date and budget.
                    </p>
                </div>

                <img src="../public/images/technology_9_turnkey-project-manageent-system 2.svg" alt=""
                    class="w-[100%] my-[2rem] md:w-[80%] lg:w-[100vh] mx-auto" loading="lazy" data-aos-easing="linear"
                    data-aos-duration="1500" data-aos="fade-left">
            </div>
            <div class="flex flex-col gap-[1rem] w-[90%] mx-auto">
                <div class="flex flex-col gap-[1rem]" ata-aos-easing="linear" data-aos-duration="1500"
                    data-aos="fade-right">
                    <h2
                        class="flex gap-[1rem] md:text-[3rem] items-center font-Nunito text-[1.25rem] font-[800] text-[#0B1C98]">
                        <span>3. Dedicated Developers</span>
                    </h2>
                    <p class="text-xl md:text-xl text-justify leading-[150%] font-Nunito">
                        We help our clients to scale in a flexible way, assigning developers, graphic designers,
                        testers
                        and project managers as
                        an extension of their teams. Our employees work with dedication to each project and each
                        client.
                        Open communication is a
                        key aspect of our service, and our project management tools allow our clients to have full
                        visibility and control of the
                        performance of each resource.

                    </p>
                </div>
            </div>
        </section>
        <section class="flex flex-col font-Nunito px-7 md:my-[3rem] my-[1rem] " ata-aos-easing="linear"
            data-aos-duration="3000" data-aos="fade-in">
            <div class="flex flex-col gap-[1rem] md:w-[90%] mx-auto" ata-aos-easing="linear" data-aos-duration="1500"
                data-aos="fade-left">
                <div class="flex flex-col gap-[1rem]">
                    <h2
                        class="flex gap-[1rem] items-center font-Nunito md:text-[3rem] text-[2rem] font-[800] text-[#0B1C98]">
                        Methodology
                    </h2>
                    <p class="text-xl md:text-xl text-justify font-Nunito leading-[150%]">
                        Our work is defined by exceptional understanding, analysis, and performance. We have adopted
                        an
                        Agile methodology that
                        promotes development iterations, open collaboration, and adaptability throughout the life
                        cycle
                        of the project. This
                        methodology assures the quality of our work as well as the success in its implementation.

                    </p>
                    <p class="text-xl md:text-xl font-Nunito text-justify leading-[150%]">
                        Each iteration passes through a full software development cycle, including planning,
                        requirements analysis, design,
                        writing unit tests, then coding until the unit tests passes and a working product is finally
                        demonstrated to
                        stakeholders through documentation. An iteration may not add enough functionality to warrant
                        releasing the product to
                        the market, but the goal is to have an available release (without bugs) at the end of each
                        iteration. At the end of each
                        iteration, stakeholders re-evaluate project priorities with the objective of optimizing
                        their
                        return on investment.
                    </p>
                    <p class="text-xl md:text-xl font-Nunito text-justify leading-[150%]">
                        All the iterations are managed by a project manager who also handles the master plan, a
                        document
                        that contains the
                        ‘core’ description and general schedule of the project.
                    </p>
                </div>
            </div>
        </section>
        <!--We are professional It Solution section  -->
      <!--Section 4 Contact Us-->  
  <div class="bg-[#00000005] mt-8">
    <div class="lg:flex flex-row-reverse justify-between  md:pl-5 h-full w-full ">
      <div data-aos="fade-down bg-orange-600">
          <img src="../public/images/home_sec4_PC.svg" alt="Con image"
        class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-full  lg:h-[22rem] lg:w-[40rem] float-right"/>
      </div>
      <div class=" p-2  lg:px-0 lg:w-1/2 lg:mt-24 mx-12">
        <p class="text-3xl font-extrabold text-black testfont1">We Are Professional IT & Solutions</p>
         <p class="text-lg pt-4 text-black"> With 6 + years of experience we have certified professional team of experts and exhaustive market research analysis
         </p>
         <div class="mt-8">
         <a href="/contact"> 
          <button class="border-black border-2  py-2 px-4 rounded-lg hover:bg-[#0B1C98] hover:text-white hover:border-white nutino">Contact Us</button>
         </a>
        </div>
      </div>
      </div>
    </div>
        <section class="flex flex-col px-7 md:my-[3rem] my-[1rem] w-full oveflow-x-hidden " ata-aos-easing="linear"
            data-aos-duration="3000" data-aos="fade-left">
            <div
                class="md:w-[90%] mx-auto [#797979] md:text-[1.5rem] text-[.9325rem] leading-[1.8125rem] font-[500] font-[Raleway] flex flex-col gap-[1rem] md:gap-[1.5rem]">
                <p>Looking for Customizable ScloudIN Product Catalogue solution for your business ? Contact us now !
                    Want to know SclodIN
                    product catalogue features , receive more information about the solution , get a solution demo
                    or
                    customized pricin</p>
                <p> <span class="text-[#3662FF]">Email us directly at :</span> <span> solution@SCLOUDIN.in</span>
                </p>
                <p>For sales enquiry please contact us at : <span class="text-[#3662FF]">sales@SCLOUDIN.in</span>
                </p>

            </div>
        </section>
        <!--Section 20-->
        <div class="text-center">
            <span class="mt-8 text-[#000000a6] text-5xl md:text-7xl lg:text-6xl text-center font-extrabold nutino ">Get in touch today!</span>
            </div>
        
        <%- include('partials/contactform')%>

    </main>
    <script>
        AOS.init();
        AOS.init({
            // Global settings:
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            once: false, // whether animation should happen only once - while scrolling down
            mirror: true, // whether elements should animate out while scrolling past them

        });
    </script>



    <%- include('partials/footer') %>